[2013-02-26 19:18] henrikbjorn opened #2 "Serializer does not support custom Message instances."

[2013-02-26 19:19] henrikbjorn opened #3 "A Consumer should fork before running the job."

[2013-02-26 19:19] henrikbjorn opened #4 "Consumers does not report what they are working on"

[2013-02-26 19:20] henrikbjorn opened #5 "Consumers are not registered"
As Resque registers its workers so it possible to see what workers are running.

[2013-02-27 08:30] henrikbjorn opened #6 "Serialized Format is not compatible with Resque"
The format a Envelope/Message is serialized into is not compatible with Resque.
## What needs to be done
- [x] `message` key should be renamed to `args`.
- [x] `class` key should be normalized by replacing `\\` with `:`

[2013-03-01 10:13] henrikbjorn opened #8 "Signals arent processed."
When running `example/in_memory.php` or `example/consumer.php` signals arent processed.

[2013-03-01 12:20] #2 closed, assigned to henrikbjorn

[2013-03-01 13:23] henrikbjorn opened #10 "Explain `example/` in README"

[2013-03-01 13:35] #10 closed, assigned to henrikbjorn

[2013-03-01 13:36] #8 closed, assigned to henrikbjorn

[2013-03-01 13:38] #6 closed, assigned to henrikbjorn

[2013-03-02 10:53] henrikbjorn opened #11 "AwareResolver's"
Create ServiceResolvers that is Aware of a Container such as the one from Symfony or Pimple.

[2013-03-03 10:23] #11 closed, assigned to henrikbjorn

[2013-03-04 06:15] henrikbjorn opened #12 "Class names are too verbose"
Some of the class names have become very verbose
- `PimpleAwareServiceResolver` -> `PimpleServiceResolver` `PimpleAwareResolver`
- `ConstainerAwareServiceResolver` -> `ContainerServiceResolver` `ContainerAwareResolver`

Or remove the `ServiceResolver` suffix from all the extending resolvers.

[2013-03-04 14:40] henrikbjorn opened #14 "This is wrong, there is no Raekke\Message\Message"
see https://scrutinizer-ci.com/g/henrikbjorn/Raekke/inspections/64a9d915-b68a-4b6e-b8c1-6ed7b90c16b8#inspectioncomment-2177948

[2013-03-04 14:48] henrikbjorn opened #15 "Logging"
PSR-3 should be implemented.

[2013-03-04 14:48] #14 closed, assigned to nobody

[2013-03-04 14:48] henrikbjorn opened #16 "Event system"
There should be dispatched event through out the creating/deletion of messages etc. To make extending easy.

[2013-03-04 19:21] #12 closed, assigned to henrikbjorn

[2013-03-15 10:40] henrikbjorn opened #17 "Rename Project"
As 'Raekke' is apparently hard to pronounce for other than native Danish speakers, the project should proberly be renamed.

[2013-03-15 23:22] benbender opened #19 "Allow usage of phpredis"
In one of my current projects I use redis alot. Therefor I use phpredis, a redis-driver written in C. It can be found at https://github.com/nicolasff/phpredis. Is there any reason to not support it in Bernard?

It would be great if both clients (phpredis and Predis) could be supported and the hard dependency in composer on predis could be removed.

[2013-03-18 08:00] #17 closed, assigned to henrikbjorn

[2013-04-24 08:20] #19 closed, assigned to nobody

[2013-04-29 07:06] henrikbjorn opened #26 "Replace Connections with Brokers."
Replace the manual creation of Connections with a system like Celery that creates Brokers/Connections based on a dsn.

[2013-05-02 14:56] henrikbjorn opened #27 "SQS Connection"
Should take a client and a list of name => urls in the constructor, it will not be possible to create queues on the fly, they have to be declared before use.

This will also be the case for failed queue.

[2013-05-06 07:46] henrikbjorn opened #28 "Connection API is weird"
It should not be a DBAL like connection but instead have methods like

`createQueue`
`insertMessage`

and so on to abstract the thing behind it away.

[2013-05-06 17:25] #28 closed, assigned to nobody

[2013-05-06 17:25] #26 closed, assigned to nobody

[2013-06-13 07:49] #3 closed, assigned to henrikbjorn

[2013-07-01 08:13] henrikbjorn opened #46 "Driver information"
The information returned in Driver::info() must always include the drivers name. Also when reaching a more stable version it must include the version of the driver.
- [ ] PhpRedisDriver
- [ ] PredisDriver
- [ ] DoctrineDriver
- [ ] SqsDriver
- [ ] IronMQ

[2013-07-02 08:47] #27 closed, assigned to nobody

[2013-07-11 05:55] #4 closed, assigned to henrikbjorn

[2013-07-11 05:55] #5 closed, assigned to henrikbjorn

[2013-07-11 05:55] #15 closed, assigned to henrikbjorn

[2013-07-11 05:55] #16 closed, assigned to henrikbjorn

[2013-07-11 05:56] #46 closed, assigned to nobody

[2013-07-31 11:14] henrikbjorn opened #59 "Middleware for Consumer / Producer"
To create a "real" extension point we should add middleware like sidekiq for the Consumer and Producer. One kind of implementation could be https://gist.github.com/henrikbjorn/995438e67ab75c8fe243

[2013-08-03 09:31] henrikbjorn opened #61 "Only support 5.4+?"
This would proberly allow some stuff to be removed or slimmed down (`[]` for arrays etc)

[2013-08-03 15:24] henrikbjorn opened #62 "Consider remove the `on` prefix from the returned callables."
This would make the method names better and not like events.

[code]

[2013-08-04 17:17] #61 closed, assigned to nobody

[2013-09-09 13:16] #59 closed, assigned to nobody

[2013-09-09 13:16] #62 closed, assigned to nobody

[2013-09-11 11:51] henrikbjorn opened #69 "Plugins"
Dependency heavy integrations should be refactored out into its own packages.

[2013-09-17 07:20] henrikbjorn opened #75 "Replace Service with Receiver"
When starting with Bernard the ServiceResolver is hard to understand because a Service can be a lot of things. Instead it should be named something like "Receiver" and be explained as a simple Controller that runs asynchronously.

[2013-09-17 18:51] mrbase opened #76 "Free memory"
When running the examples for a minute or so the process runs out of memory.

Could it be that the process does not free the memory used ?

Added a logger to the `Consumer:consume` `while($this->tick(...))` loop and then it's quite clear that the memory usage only increases.

Is this only an issue with the example scripts or something jobs have to take care of ?

use case:

[code]

[2013-09-18 08:16] #76 closed, assigned to nobody

[2013-09-22 13:42] henrikbjorn opened #80 "Move Symfony\Command out of Symfony namespace."
As Symfony\Console is the de-facto console application framework. It makes sense to require Symfony\Console for consule stuff (through the suggest block in composer.json).

[2013-09-22 13:49] henrikbjorn opened #82 "PSR-4"
Should we use PSR-4 when the votes passes?

[2013-09-22 13:53] henrikbjorn opened #83 "Rename NaiveSerializer"
It should have a name that makes it clear it is for simple use cases and have limitations.

[2013-09-23 09:44] #83 closed, assigned to nobody

[2013-09-23 09:44] #80 closed, assigned to nobody

[2013-09-23 09:44] #75 closed, assigned to nobody

[2013-09-23 10:09] toin0u opened #86 "Add get method signature in the QueueFactory interface"
I think it will be easier to understand if we add a get method (or something like that) especially when the consumer will consume the queue.

Replace:

[code]

By:

[code]

In the example:
https://github.com/bernardphp/bernard/blob/master/example/bootstrap.php#L76

What do you think ?

[2013-09-23 10:12] #86 closed, assigned to nobody

[2013-09-24 07:48] toin0u opened #88 "Should add Beanstalkd ?"
The last release is the 14 April 2013 so maybe it can be great to add it. What do you think ? http://kr.github.io/beanstalkd/

[2013-09-24 07:53] toin0u opened #89 "Composer suggest packages ?"
I was thinking to make a PR but maybe you prefer to not "pollute" the `composer.json` file and its packagist profile. What do you think ?

http://getcomposer.org/doc/04-schema.md#suggest

[2013-09-24 08:22] henrikbjorn opened #90 "Allow to be explicit when Routing messages"
Do something like Controller::action

[2013-09-24 09:15] #89 closed, assigned to nobody

[2013-12-18 09:18] henrikbjorn opened #92 "Remove extended functionality"
The Core of Bernard have gotten quite fat with require-dev dependencies. Theese should be kept to a minimum for testing and the logger.

[2013-12-18 09:18] #82 closed, assigned to nobody

[2013-12-18 09:18] #69 closed, assigned to nobody

[2014-01-23 14:37] websirnik opened #96 "Update docs"
Docs are not relevant for the latest version of Bernard:
- NaiveSerializer- > SimpleSerializer
- Middleware
- etc.

[2014-01-24 12:06] henrikbjorn opened #97 "implement rejectMessage in drivers."
Many drivers have support for a negativeAcknowledge. This means instead of relying on a backend implementing a timeout we can explicitly send a message back and say it could not be handled. This could be implemented in userland for doctrine, redis, file etc.

[2014-01-24 12:28] henrikbjorn opened #98 "FlatFileDriver does not remove acknowledge messages."

[2014-02-06 13:45] websirnik opened #100 "Consumer Example"
I'm trying to figure out the proper way to use Bernard for consuming messages. I have the following code(using IronMQ driver):

[code]

I run it as a custom console command in Symfony. It works well, however IronMQ dashboard shows several thousand API requests within a few minutes(just for one consumed message).

How do I optimize this, so the worker would not go crazy over IronMQ with million req

[2014-02-10 17:42] henrikbjorn opened #104 "[RFC] Add Builder"
Currently creating the whole object graph for Bernard can be quite daunting and complex especially if you just want to get started. In order to rectify this i propose to add some sorft of builder, it would work as below.

I know it have been suggested before but have recently played around with it and changed my opinion about it :)

[code]

The example is actually the most complex one, normally i

[2014-02-12 11:22] defrag opened #105 "Passing additional parameters (like console output) to receiver."
Hi,
is there a way to pass additional arguments to receiver function? I am getting message, but for example i would like to pass console output, to make processing more verbose.

[2014-02-12 11:43] #105 closed, assigned to nobody

[2014-02-13 11:17] henrikbjorn opened #106 "Bulk"
In order to prepare for Batches feature it is needed to add a `pushMessages` (bulk) method to the drivers and to the Queue (`bulk`).

[2014-02-14 14:57] #106 closed, assigned to nobody

[2014-02-15 12:32] henrikbjorn opened #108 "Requeue functionality"
It would be nice to be able to requeue a message but not resetting it to the end of the queue (if the driver supports it). This would make it easier to requeue messages we are working on when doing a hard shutdown

[2014-02-15 19:31] henrikbjorn opened #109 "[RFC] Middlewares and Events"
Have been thinking about Middlewares and how they work. I like them since they are easy to create and the interface is simple, i dont like them when you have functionality that are shared between consuming and producing. Because of that i propose the following.
1. Use events where the middlewares are currently used `consume`, `produce` and `exception`.
2. Create a Strategy implementation for execu

[2014-02-15 23:02] #109 closed, assigned to nobody

[2014-02-16 14:08] #108 closed, assigned to nobody

[2014-02-19 18:09] henrikbjorn opened #113 "Retry as Sidekiq does it."
Sidekiq has a real neat implementation, it will keep retrying with a exponential backoff.

https://github.com/mperham/sidekiq/wiki/Error-Handling

[2014-03-07 01:12] estahn opened #115 "RabbitMQ driver"
Would be great so see a RabbitMQ driver implemented (https://www.rabbitmq.com/).

[2014-03-07 01:31] estahn opened #116 "Add Exchange Concept"
Would be useful to have RabbitMQ's exchange concept for other drivers too:

Source: http://www.rabbitmq.com/tutorials/tutorial-three-python.html

[2014-03-07 01:49] estahn opened #117 "Add scrutinizer to evaluate code quality"
Example: https://scrutinizer-ci.com/g/scrutinizer-ci/scrutinizer/

[2014-03-07 08:28] #117 closed, assigned to nobody

[2014-06-29 08:56] Koc opened #121 "404 on the docs page"
http://bernardphp.com/ any link produces 404

[2014-11-06 09:46] ivan-wolf opened #124 "Polling interval ignored in IronMQDriver?"
It seems to me, the default interval of 5 seconds is without effect for this driver.

The 10 ms wait time between calls of "getMessages()" leads to a theoretical maximum of 100 API calls per second (of course, the requests take some time by themselves, so we're somewhat lower in practice).

Since IronMQ is priced by the number of API requests, this is a real concern.
Do you agree that this needs t

[2014-11-12 12:03] #124 closed, assigned to nobody

[2014-11-24 13:12] sagikazarmark opened #127 "Support delayed messages"
Some of the implemented services support to push messages with a delay specified. Would be awesome to support it.

[2014-11-24 19:11] sagikazarmark opened #130 "Message encryption"
In some cases it exposes a security issue if the messages in a queue are not encrypted, thus can be read by a human.

Is it possible to implement encryption? Not meaning having it in the core, but having the possibility to implement it. Any ideas?

[2014-11-24 20:24] sagikazarmark opened #131 "Where does the name bernard come from?"
I am always curious if I see such an inexplicable name. :)

[2014-11-25 08:27] #88 closed, assigned to nobody

[2014-11-25 11:35] #131 closed, assigned to nobody

[2014-11-25 11:36] sagikazarmark opened #132 "Fix property visibility"
Acoording to discussion with @henrikbjorn visibility should be fixed.

[2014-12-19 22:07] jmikola opened #134 "Consider implementing Driver::rejectMessage()"
See conversation in https://github.com/bernardphp/bernard/pull/133#discussion_r21421337 for context.

When drivers pop a message off the queue, they may leave it persisted but flip the `visible` flag so it's not picked up by future pops. In turn, `acknowledgeMessage()` may permanently remove the message from the queue. If it's relevant to enough drivers, `rejectMessage()` would revert the `visible

[2014-12-19 22:13] jmikola opened #135 "MongoDB driver should support capped collections and tailable cursors"
See https://github.com/bernardphp/bernard/pull/133#discussion_r21421313 for context.

Using a tailable cursor on a capped queue collection would allow the driver to avoid the poll loop currently done in `popMessage()` (as implemented in #133). Quoting my original comments:

and:

[2014-12-19 22:19] jmikola opened #136 "Make poll loops in DB and filesystem drivers more configurable"
See https://github.com/bernardphp/bernard/pull/133#discussion_r21421313 for context.

Per discussion with @henrikbjorn, other drivers (not database and filesystem) do block on `popMessage()` since many of those services bill by request. For database and filesystem drivers, having `$interval` default to zero would allow users to handle polling on their own (outside of the driver).

Suggestion is to

[2015-01-04 20:09] #98 closed

[2015-01-05 10:54] sagikazarmark opened #141 "Move routers under one namespace"
It seems to me a bit illogical to have Pimple and Symfony under separate namespaces. They should be grouped by their functionality, not their vendor name.

[2015-01-05 10:58] henrikbjorn commented on #141
+1 makes sense i think, try a PR and ill see what i think

[2015-01-05 11:43] sagikazarmark opened #143 "Files in src/ folder"
Wouldn't it be better to move all the files in src/Bernard/ to src/? I guess it is because the package comes from psr0.

[2015-01-05 12:23] henrikbjorn commented on #143
+1

[2015-01-05 12:24] sagikazarmark commented on #143
I will open a PR after the Router move gets merged as the two will probably conflict

[2015-01-05 13:05] sagikazarmark opened #144 "Peek index in Queue"
I think it is weird that indexing starts form 1 while almost all datastructure uses 0 as a first index. It is also inconsistent across the implementations:

- interface: sets 1 as default
- in-memory: sets 1 as default
- persistent: sets 0 as default

Also, the in-memory queue implementation is quite buggy: it clones the internal queue object, but it uses `$this->count()` to check if there are any

[2015-01-05 13:52] henrikbjorn commented on #144
Would be great to make it consistent and use 0 as the index.

[2015-01-05 13:54] sagikazarmark commented on #144
Ok, will open a PR for that

[2015-01-05 15:15] sagikazarmark commented on #143
Closed by #146

[2015-01-05 15:15] #143 closed

[2015-01-05 15:16] sagikazarmark commented on #141
Closed by #147

[2015-01-05 15:16] #141 closed

[2015-01-05 15:21] sagikazarmark opened #149 "Move max-messages and max-runtime into subscribers"
In the consumer the max-messages and max-runtime configuration is quite ugly IMO. I would add a cycle event to the end of the while, so these checks are:

- optional, only done when a subscriber is added
- removed from consumer making it much cleaner

What do you think @henrikbjorn?

[2015-01-05 16:17] sagikazarmark opened #150 "Router double checks receiver"
Something bad is going on here: https://github.com/bernardphp/bernard/blob/master/src/Router/SimpleRouter.php#L45

Why the two (very similar) check?

[2015-01-05 16:41] sagikazarmark opened #152 "Move functions to Util class..."
...so that they are testable. They aren't at the moment.

[2015-01-05 18:30] henrikbjorn commented on #150
I must have been drunk, the get() should proberly return null when no receiver is defined, and that should be checked.

[2015-01-05 20:16] sagikazarmark opened #160 "Scrutinizer config and coverage"
Don't you want to enable coverage in Scrutinizer?

Also, scrutinizer should be limited to inspect only the src/ directory, not any other.

I usually use this configuration file:

[code]

[2015-01-05 21:45] henrikbjorn commented on #160
Dont really care about code coverage, the tests and specs themselves should give us confidence enough in our code.

Have incorporated some from your config and it is now

[code]

[2015-01-05 21:46] #160 closed

[2015-01-06 09:53] henrikbjorn commented on #149
I have plans on refactoring the Consumer in a way that would allow using the pthreads extension. Also this makes it impossible to configure this stuff from the cli.

[2015-01-06 10:17] #150 closed

[2015-01-07 08:38] henrikbjorn opened #163 "Increase minimum php version"
To atleast 5.4

[2015-01-07 08:54] henrikbjorn commented on #136
The only real solution i could come up with, https://gist.github.com/henrikbjorn/13ab6a8923f7c17f1615 what do you think?

[2015-01-07 08:57] henrikbjorn opened #164 "Rename $interval to $duration in drivers."

[2015-01-12 16:39] jmikola commented on #136
@henrikbjorn: That looks like that I had in mind. Is a static utility function really necessary, though?

[2015-01-12 21:21] henrikbjorn commented on #136
it could be an ordinary function maybe

[2015-01-15 19:29] sagikazarmark commented on #163
Does it mean that `[]` can be used instead of `array()`?

[2015-01-15 21:14] henrikbjorn commented on #163
Yes

[2015-01-15 21:19] sagikazarmark commented on #163
Not sure what you mean.

[2015-01-15 21:48] henrikbjorn commented on #163
Increasing the required version in composer.json for bernard.

[2015-01-15 21:56] sagikazarmark commented on #163
Ah, I see. I was rather curious about if the coding style would change to use the PHP 5.4 array notation instead of the "old" one.

[2015-01-16 09:20] henrikbjorn commented on #163
I think ill change it everywhere when i decide on which version.

[2015-01-19 16:04] Baachi commented on #163
:+1: for set the minimum php version to 5.4.

[2015-03-04 14:16] mpdude opened #167 "Move processing of individual messages to a separate PHP process"
We're considering replacing a POC queue-processing application with Bernard. One feature the current solution has is to move processing of the individual messages to a separate PHP process. The main "consumer" process waits for this child to finish before it continues.

The main reasons for doing so were that a) once the "worker" exits all resources will be freed (no problems with GC/memory leaks)

[2015-03-04 22:49] mpdude commented on #116
There's a similar situation in Amazon when using SQS and/or SNS.

Consumers work off SQS queues, but producers often to not push to queues directly. Instead, they send messages to SNS "topics", not knowing where the message will end up.

SNS topics in turn can be setup to forward messages to one ore several SQS queues, among other things.

On the producer side, an SNS topic could be implemented li

[2015-03-05 14:04] henrikbjorn commented on #167
In the early days we used https://github.com/kriswallsmith/spork to fork out the processing for every single message. The problem with this is to make sure, you catch errors, wait for the process to finish and that they wont just "die".

Also it is slower because you are waiting for resources when forking (rememeber its a whole new process and not just a new thread).

Fell free to open a PR with t

[2015-03-10 21:44] sagikazarmark opened #170 "League Container router"
Would you accept a PR for a router like this?

[2015-03-11 07:19] henrikbjorn commented on #170
Yes.

[2015-03-11 09:30] sagikazarmark opened #172 "Change title"
`Message queue implemented in PHP with Redis as a backend.`

This isn't really right anymore, is it?

[2015-03-11 09:31] mpdude commented on #172
Just came across this as well when I saw your change in the other PR :)

[2015-03-11 09:32] sagikazarmark commented on #172
Other PR?

[2015-03-11 09:33] mpdude commented on #172
The change to composer.json in #171.

[2015-03-13 20:10] sagikazarmark commented on #160
It sounds funny that you don't care about coverage because you are maintaining a coverage extension for phpspec. :)

[2015-03-13 20:41] henrikbjorn commented on #160
Well, yeah that is kind of funny :) I have gotten wiser since i did the coverage extension for phpspec.

[2015-03-19 17:41] #170 closed

[2015-03-27 12:16] TomasVotruba commented on #163
This might also help to decide http://seld.be/notes/my-view-of-php-version-adoption

[2015-03-27 12:29] sagikazarmark commented on #163
Actually it is already decided. It can be closed.

[2015-03-27 13:02] #163 closed

[2015-03-27 13:05] TomasVotruba commented on #163
:+1:

[2015-03-27 13:18] mathewpeterson commented on #127
I have a use case for delayed/scheduled messages as well.

[2015-04-28 13:52] rjd22 opened #175 "Create a new tag/release from master"
We want to use bernard in combination with the bundle and pheanstalk but we can't right now because bernard has no tag of the pheanstalk implementation. Can someone tags benard with the pheanstalk implementation?

[2015-05-04 09:33] henrikbjorn commented on #175
Problem with this is that the documentaiton is not updated and because of the chagnes it would have to be 2.0.0 unless you can live with a 2.0.0-alpha release?

[2015-05-04 09:34] henrikbjorn commented on #172
Seems like this can be closed.

[2015-05-04 09:34] #172 closed

[2015-05-04 09:34] #167 closed

[2015-05-07 13:14] lakiboy commented on #130
You can encrypt messages by doing something like this:

Producer:

[code]

Consumer:

[code]

As an encrypter you could use https://github.com/nelmio/NelmioSecurityBundle/blob/master/Encrypter.php

We use this approach to collect some sensitive data in front-end application for post process in backend application. Just need to make sure the secret is the same for both apps.

[2015-05-07 18:23] sagikazarmark commented on #130
Yeah, it could definitely work. But it seems a bit hacky. What I am thinking about is to have a custom serializer which encrypts the serialized message itself. The benefit is that you can encrypt any kinds of message with it.

[2015-05-07 20:59] lakiboy commented on #130
It sounded like you need a solution ASAP, hence I provided a hint. Custom normalizer is cleaner, of course, but I guess you need to wrap your message with EncryptedMessage class for normalizer to pick it up.

[2015-05-07 21:14] sagikazarmark commented on #130
@lakiboy thank you very much, but it is not so urgent.

Actually, you can create a normalizer which wraps around the "usual" normalizer so that you can encrypt any messages.

[2015-05-08 08:36] Baachi commented on #130
Why not just extend the `DefaultMessage` and overwrite `get/set` methods?

[2015-05-08 09:26] sagikazarmark commented on #130
I think message encryption should be universal. Every message is normalized into string at some point. So why not an encryption layer after that point? It is simple, universal.

[2015-05-08 09:29] Baachi commented on #130
@sagikazarmark Thats the best/optimal solution, may solution was more the easy way. If you want to setup on this point, i would think the best position is to extend the [`Serializer`](https://github.com/bernardphp/bernard/blob/master/src/Serializer.php). He serialize any envelope/message to a string, so i think this is the best point to startup.

[2015-05-08 09:36] henrikbjorn commented on #130
Unfortunately  i have not had much time for my OSS projects because of an alarming close deadline at work.

As @Baachi meantions i think extending the Serializer is a good idea. Could even be done through composition.

[2015-05-08 09:37] sagikazarmark commented on #130
Probably yes. But as I know @henrikbjorn plans some sort of message format RFC and I think encryption could be an extension of that.

[2015-05-15 11:17] #164 closed

[2015-06-29 15:05] henrikbjorn commented on #175
Tagged a 1.1.0

[2015-06-30 02:49] elazar opened #178 "Add phpunit/phpunit to require-dev"
Since Bernard uses PHPUnit for its test suite, it seems like `phpunit/phpunit` should be included in the `require-dev` section of its `composer.json` file.

[2015-06-30 08:02] henrikbjorn commented on #178
PHPUnit will not be added to the composer.json file. PHPUnit is a standalone application that is used for testing and as such it should be installed standalone. This also reduces the risk of phpunit dependencies interfering with Bernard's.

Thanks for the suggesting :)

[2015-06-30 08:02] #178 closed

[2015-07-04 23:47] elazar opened #180 "ObjectResolver doesn't exist"
The ["Consuming Messages"](https://github.com/bernardphp/bernard/blob/master/doc/consuming.rst) section of the docs references `Bernard\ServiceResolver\ObjectResolver`. Neither the containing sub-namespace nor the class itself exist. The closest equivalents I can find are [`\Bernard\Driver`](https://github.com/bernardphp/bernard/blob/master/src/Driver.php) and [its implementations](https://github.

[2015-07-05 12:21] henrikbjorn commented on #180
Hey Elazar

The master branch uses the term "Router" for that part `https://github.com/bernardphp/bernard/blob/master/src/Router/SimpleRouter.php`. So it just needs to be updated for master, also it needs an EventDispatcher now.

[2015-07-06 00:28] elazar commented on #180
Yeah, I think I've got it figured out. Mostly filing the issue so that the documentation being outdated is visible. Thanks.

[2015-07-06 00:35] elazar opened #181 "Current producer/consumer implementation is limited"
The current producer/consumer model is based on the assumption that messages are published with a specified envelope name that contributes to how they are routed; more specifically, that they are routed to a queue based on that envelope name and that a separate consumer process is maintained per queue.

This is a very limiting architecture in infrastructures like Heroku, where I may only want to o

[2015-07-06 07:01] henrikbjorn commented on #181
Hey @elazar

Do you have a specific change in mind? Currently the only way is to make sure you use the second argument to the produce method, and specify a specific queue, or use an event listener to change the Envelope before they are persisted to the backend.

[2015-07-06 19:19] elazar commented on #181
If terms of a non-BC-breaking change, possibly modify `Consumer->consume()` to be like so:

[code]

This would allow multiple queues to be checked in a single process without compromising the existing ability to have a single queue checked per process. I'm not sure if that would be sufficient to cover most use cases, but it would cover more than the current implementation.

[2015-07-07 06:37] henrikbjorn commented on #181
That could be done, but that raises some questions:

1. Should the first queue be drained before checking the next?
2. Is it okay to increase latency based on the number of queues in your list?

[2015-07-07 12:44] elazar commented on #181
1. I don't think so because I believe that could lead to queue [starvation](https://en.wikipedia.org/wiki/Starvation_(computer_science)) given a queue with sufficient traffic.
2. I think it is just because it leaves it up to the user as to which and how many queues to use per process. If I have few queues that receive few messages, it makes more sense to use a single process. By contrast, if I hav

[2015-07-07 13:03] henrikbjorn commented on #181
I would gladly accpet at PR against master, assuming it does round robin each of the queues

[2015-07-07 13:09] elazar commented on #181
Cool. So far as I can tell from the existing source code, the implementation I've suggested above should do round robin. Just starting my work day here, but I'll try to work on a PR this evening.

[2015-07-09 02:30] elazar commented on #181
@henrikbjorn #182 is the PR you requested if you'd like to give it a look.

[2015-10-23 16:28] henrikbjorn commented on #181
Was thinking about this, would it be possible to create a ChainQueue or RoundRobinQueue, this could be created by the Command instead of the consumer, then we dont have to update the api for the Consumer?

Sorry for the long answers :/

[2015-10-23 23:12] elazar commented on #181
@henrikbjorn I've created #183 to add a potential `RoundRobinQueue` implementation. Assuming it meets with your approval, how do you see use of this being implemented in `ConsumeCommand`? Adding support for specifying multiple queues (e.g. as a comma-delimited string) in the existing `--queue` parameter? Here's an example of how that could work:

[code]

[2015-10-28 21:19] ruudk commented on #127
@henrikbjorn Is this something that we can support in Bernard? Would be an awesome way to get a automatic retry back off strategy

[2015-10-29 08:06] henrikbjorn commented on #127
@ruudk should be possible. Either through an interface or through a second argument to the produce method. The latter would require that the envelope knows of is "delay"

[2015-10-30 22:37] sagikazarmark opened #189 "What happened to bernardphp.com?"

[2015-10-31 10:54] ruudk commented on #189
It expired, and now somebody else took it. Docs are up at http://bernard.readthedocs.org/

[2015-10-31 15:29] ruudk commented on #127
@henrikbjorn RabbitMq supports delayed messages via a plugin. I hacked a bit with the PhpAmqpDriver to get it working. Checkout my [proof of concept](https://github.com/bernardphp/bernard/compare/master...ruudk:poc-php-amqp-delayed).

It works like this:

* Create an [exchange of type x-delayed-message](https://github.com/ruudk/bernard/blob/poc-php-amqp-delayed/example/DelayedPhpAmqpDriver.php#L13

[2015-11-05 09:57] henrikbjorn commented on #127
I think that the AMQP driver should have a map in its constructor, where a queueName would map to an exhange, this would make exchanges per queue possible.

Then we need to change the interface for pushMessage, in order to take the additional parameter "delay" or allow it to have options (if not all drivers support delayed messages).

Then we need to add the delayed datetime to the envelope and al

[2015-11-08 12:37] davidsteinsland opened #191 "Return false from consumer"
As far as I can see, there's only one option to report that the consumer failed, and that is to throw an exception from within the worker? This will create the `rejected` event, but shouldn't there be a more simpler option, such as just return `false`?

Documentation can probably be improved on the error handling subject. When a job fails, it's very useful to be alerted of this so that the right b

[2015-11-08 16:13] henrikbjorn commented on #191
The thing about failing a message by returning false, is that no context is provided at all other than "fail". By forcing a exception you provide some context also we dont have to require receivers to return `true` everywhere.

[2015-11-08 16:59] davidsteinsland commented on #191
Hm, yes, that sounds reasonable. But I'm not quite sure if I like that the Consumer actually swallows the exception.

I have a setup that involves using `supervisord` (so crashed workers due to exceptions being thrown is not a problem), *and* I have an exception handler that notifies services such as Airbreak/Rollbar. But when the consumer catches all exceptions, these will never reach my error ha

[2015-11-09 08:19] henrikbjorn commented on #191
The reason the consume swallows all exceptions is that it is a long running process, and we dont want it to die because of business logic throwing an exception.

You are correct you need to implement your own middleware such as https://github.com/bernardphp/bernard/blob/0.12.2/src/Bernard/Middleware/LoggerMiddleware.php or just use that one with Monolog (and have monolog log exceptions to Airbrake

[2015-11-09 08:22] davidsteinsland commented on #191
:+1:

What are the current plans for drivers? I see there's no driver for `Gearman` yet, and I thought perhaps I'd write one. Do you want drivers as a PR or are you fine with separate repos (e.g. under my user)?

[2015-11-09 08:32] henrikbjorn commented on #191
Feel free to create a driver for Gearman, it is impossible for me to implement them all, and most of the others are by the Community. You decide if you want it under your own repo or as a PR. However, if its a PR the coding style we use and tests are required for it to be merged.

[2015-11-10 09:47] davidsteinsland opened #192 "Consumer pings"
Is it possible to somehow ping the consumers, or let the consumers notify when they are active? Would be very nice to assert that there are consumers running before dispatching work (if not fallback to "normal" approach).

[2015-11-10 09:53] henrikbjorn commented on #192
There is nothing currently that allows you to ping consumers. Also the great thing about using a queue is that you dont need to know if a consumer is running when producing messages.

However it is fairly simple to wrap the consumer with code that updates a redis list or a database everytime it checks for a message, then you can check that updated_at field before producing. Juno even have a Contro

[2015-11-10 09:55] davidsteinsland commented on #192
For non-critical tasks queues are good, but when sending out one-time PIN codes on e-mail, then it's very important that the email is sent -- no matter what.

I had hoped I wouldn't have to wrap the drivers, as I don't want to bind myself to a single one. A very simple solution would to dispatch an `bernard.present` event or something in the `Consumer::tick()` function. That way it's up to me how

[2015-11-10 10:03] henrikbjorn commented on #192
That is a good idea, if you could do a PR for that. Thinking about it, we could have it dispatch the event every 100th tick or something?

I would think a better solution would be to monitor the consumers instead of checking if a consumer is running before dispatching.

[2015-11-10 10:14] davidsteinsland commented on #192
I could create a PR, but I see now that I'm using `0.12.2` and master have evolved a bit since then. If you could tag master as a pre-release, I can get around to creating the PR.

[2015-11-10 10:32] henrikbjorn commented on #192
You mean an 1.0.0-alpha1 ?

[2015-11-10 10:34] davidsteinsland commented on #192
Most likely yes, since it breaks a few things compared to `0.x` releases. Should probably just tag it as `1.0.0-alpha`, then `1.0.0-alpha.1` and so forth.

[2015-11-10 10:40] henrikbjorn commented on #192
1.0.0-alpha1 released.

[2015-11-13 09:01] #181 closed

[2015-11-13 12:59] elazar commented on #181
@henrikbjorn My last comment contained a question about if / how this should be implemented in `ConsumeCommand`. It's good that #188 has been merged, but there's no way to access the functionality it added from command line. Should I file a separate issue / PR for this?

[2015-11-13 14:59] henrikbjorn commented on #181
@elazar yeah it should be wrapped in the Consume command. a PR would be great :+1:

[2015-11-18 13:00] SamMousa opened #196 "Website has bad link to Bernard"
The link at the top of the page seems to be incorrectly pointing to http://bernardphp.com/

[2015-11-18 13:31] henrikbjorn commented on #196
Thanks for reporting this.

[2015-11-19 06:58] davidsteinsland commented on #192
Looking at the code now: what's the reason behind `declare(ticks=1)`? To solve the tick issue simple, I thought of `declare(ticks=100)` and `register_tick_function([$this, 'onTick'])`.

However, since the drivers/queues are sleeping, this will not be accurate: if there is a 5 second delay between each `Consumer::tick()` call, it's easy to get a 30 second delay between each `onTick` call.

[2015-11-19 07:17] davidsteinsland commented on #192
Also: why is the drivers/queues sleeping, instead of the consumer?

[code]

[2015-11-19 08:22] henrikbjorn commented on #192
@davidsteinsland not all of the drivers are doing sleep, some of the drivers support "waiting" calls for messages. This is extremely useful for SQS where you pay per request.

I believe the declare(tick=1) was added for making sure we capture signals as soon as possible, instead of waiting for the tick cycle.

[2015-11-19 08:28] davidsteinsland commented on #192
Ah, yes. `pcntl` uses ticks to deliver the signals.

What about something like this, in the `Consumer::consume()` method?

[code]

`options['ping-delay']` would then be an unsigned number specifying delay in seconds between each event.

[2015-11-19 08:37] henrikbjorn commented on #192
Depending on how real time this needs to be, i think we could just do it every 10 seconds and not add another action :)

[2015-11-19 08:38] henrikbjorn commented on #192
Or just do it everytime we tick.

[2015-11-30 10:48] robinvdvleuten opened #198 "Messages are not marked as acknowledged"
Somehow my messages are not marked as acknowledged in RabbitMQ and it seems not to work for other drivers as well. When I create a new default message like this;

[code]

It goes correctly to a queue called `submit-message`. So I run a consumer like this;

[code]

And it processes the message correctly. But it's never marked as acknowledged because of [this line](https://github.com/bernardphp/bern

[2015-11-30 11:37] henrikbjorn commented on #198
@robinvdvleuten This is a bug. The RoundRobinQueue needs to "save" which queue the envelopes comes from and use that map to acknowledge it.

[2015-11-30 11:38] henrikbjorn commented on #198
A quick fix would be to use the function that normalizes Envelope names into queue names.

[2015-11-30 11:38] henrikbjorn commented on #198
@elazar can you look at this?

[2015-11-30 18:18] elazar commented on #198
@henrikbjorn There's an existing function that does this? Can you point me to it?

[2015-12-01 09:56] henrikbjorn commented on #198
@elazar https://github.com/bernardphp/bernard/blob/master/src/Util.php#L15

But i would rather fix it in another way.

[2015-12-01 14:01] elazar commented on #198
@henrikbjorn I'm open to suggestions. I'd rather see what's there fixed than see it pulled.

[2015-12-01 14:55] henrikbjorn commented on #198
@elazar i think that when you get the envelope, you need to save its object hash, and what queue it came from, so when its acknowledge you are certain on the queue name, PersistentQueue does something similiar for Receipts

[2015-12-02 00:00] elazar commented on #198
@robinvdvleuten Are you specifying multiple queues that aren't shown in your example command here? [These tests](https://github.com/bernardphp/bernard/blob/6d3f84e73ce89ce671c98dcb1b9d02bc08850025/tests/Command/ConsumeCommandTest.php#L18-L60) should cover both cases for [this code](https://github.com/bernardphp/bernard/blob/6d3f84e73ce89ce671c98dcb1b9d02bc08850025/src/Command/ConsumeCommand.php#L6

[2015-12-02 01:15] elazar commented on #198
@henrikbjorn I don't follow you.

`PersistentQueue` is only ever dealing with a single queue, and the name for it is passed to its constructor when `PersistentQueueFactory` creates it. So, it has a definitive means to identify that queue.

`RoundRobinQueue` is dealing with multiple queue instances, must be able to identify them individually, and has only has their literal names (as passed in from

[2015-12-02 08:27] henrikbjorn commented on #198
@elazar if you look at PersistentQueue, then it saves object hashes for Envelope's when get are dequeued(). If you do the same and save a objecthash -> queue name, then you can use that to lookup the correct queue?

[2015-12-02 09:05] robinvdvleuten commented on #198
@elazar I am using a single queue in my SF2 application.

[2015-12-02 14:21] elazar commented on #198
@henrikbjorn I've submitted #200 to attempt to fix this. I believe it's consistent with how you wanted me to approach fixing this, but let me know if you see any issues.

@robinvdvleuten Any chance you could test with the changes from #200 to confirm that they address your issue?

[2015-12-02 14:22] elazar opened #201 "ConsumeCommand always uses RoundRobinQueue"
See #198, in particular the original post and [this comment](https://github.com/bernardphp/bernard/issues/198#issuecomment-161136527). It appears that `ConsumeCommand` always uses `RoundRobinQueue` regardless of how many queues are specified. This is inconsistent with the intended behavior and should be fixed such that `ConsumeCommand` will use a single queue if only one if specified and use `Roun

[2015-12-02 14:23] elazar commented on #198
I've also filed #201 for what is apparently a separate issue with `ConsumeCommand` always using `RoundRobinQueue` regardless of how many queues are specified when it's run. I'll try to code a fix for this later on today.

[2015-12-02 19:39] #198 closed

[2015-12-03 08:00] #201 closed

[2015-12-05 15:31] ruudk commented on #192
This can be closed since #197 is merged.

[2015-12-05 17:07] #192 closed

[2015-12-08 14:46] ruudk opened #204 "DoctrineDriver - Use UUID instead of autoincrement ID's"
We use the DoctrineDriver and every now and then we'll hit a dead lock.

I think the reason for this is that the DoctrineDriver creates a `bernard_messages` table where the `id` is autoincrement.

This locks the table every time an insert is executed.

I think we should use UUID's and get rid of the autoincrement ids. The only problem is that we need to sort based on date + microtime.

[2015-12-09 12:47] acrobat commented on #115
I think this issue can be closed as a rabbitmq/amqp driver was added in #174

[2015-12-09 12:50] #115 closed

[2015-12-09 12:52] acrobat commented on #115
Maybe not the right place to ask, but when do you accept a stable release @henrikbjorn? It looks like the docs are a bit out dated but I will send a PR for it soon!

[2015-12-09 13:05] henrikbjorn commented on #115
@acrobat when the docs and a changelog have been created. I am currently busy with work and it sadly does not allow me much time.

[2015-12-09 19:53] henrikbjorn commented on #204
In a project at work we use something like this http://engineering.custommade.com/simpleflake-distributed-id-generation-for-the-lazy/ for generating integer based ids that is sorteable like auto increments. Cannot share our integration sadly.

[2015-12-10 09:43] acrobat opened #205 "Add support for rabbitmq routing"
currently there is no support for rabbitmq exchange -> queue routing. Example [here](https://www.rabbitmq.com/tutorials/tutorial-four-php.html)

I will try to come up with a solution to implement this, but it would be ideal to have it before we release a stable, so we can possible change some interfaces to add this (or add extra options to generating queues or producing messages) without breaking

[2015-12-14 08:02] ruudk opened #207 "Stable release"
A new alpha was released 9 days ago. Are there any issues blocking a 1.0 release? :)

[2015-12-14 08:23] henrikbjorn commented on #207
Mainly documentation and changelog. Also the RoundRobinQueue have had some difficulties.

[2015-12-14 08:26] henrikbjorn commented on #207
And making sure Symfony 3 does not break anything.

[2015-12-14 08:27] ruudk commented on #207
What needs to be changed on the docs? Maybe I can find some time for it. I really want a stable release so that I can change some other bundles depending on this :)

[2015-12-14 10:03] henrikbjorn commented on #207
We need a Changelog from the 0.x releases up to alpha 1, i really wanted the docs to be rewritten, but that is a HUGE task, so just making sure the serializer stuff and event dispatcher stuff is up2date.

[2015-12-16 10:51] acrobat commented on #207
I will try to jump in on the docs issue! I've implemented this lib in a project i'm currently on, so I now the new stable workflow quite well

[2015-12-16 10:53] ruudk commented on #207
That would be awesome :)

[2015-12-17 09:24] henrikbjorn commented on #204
Would you be up to work on this? We could make it an external bernard library.

[2015-12-17 09:26] ruudk commented on #204
Well, for me, the UUID4 + microtime approach is good enough. Maybe I can submit that as a PR?

[2015-12-17 11:07] henrikbjorn commented on #204
Would be amount of time be different for the two implementations?

[2015-12-17 11:16] ruudk commented on #204
What do you mean?

[2015-12-17 11:34] henrikbjorn commented on #204
Implementing the "snowflake" thing vs. implementing the uuid v4 solution.

[2015-12-27 22:44] acrobat commented on #207
I've created #215 for the docs rewrite, so any feedback is welcome!

[2016-01-04 09:20] davidreuss opened #217 "New release following 0.12 branch/line"
Hi, #216 was merged and we need a proper release so we can update all our dependencies.

Not sure what the process is here, but we talked about it, and this is the followup issue :+1:

[2016-01-04 10:01] acrobat commented on #217
I think if we can review/merge #215 and #206, then this library should be ready for a stable release (imo)

[2016-01-04 10:15] henrikbjorn commented on #217
@acrobat the 0.12 release does not use the event dispatcher etc. So we need to make it a seperate release.

Havn't had time to review the two PR's yet.

[2016-01-04 10:32] #217 closed

[2016-01-04 17:30] Baachi opened #218 "Processors"
Hey @henrikbjorn

what do you think about [swarrot's processor](https://github.com/swarrot/swarrot/tree/master/src/Swarrot/Processor) system? Maybe we can adopt some processors to bernard?

[2016-01-05 10:04] henrikbjorn commented on #218
After a 10 second look it looks like the same as the "old" middleware system we used to have.

Any arguments for doing it this way instead of the events?

[2016-01-05 10:15] Baachi commented on #218
Maybe i was not clear enough, sorry. I mean, i would like to implement this logic (retry, instantretry, maxmessage, etc) into bernard core.
So we have the same functionality into bernard, but with events instead of the middlewares.

Hopefully i was clear enough :smile:

[2016-01-08 08:47] henrikbjorn commented on #218
The retry implementation have been missing for quite some time. Implementing these in bernard would be a huge :+1:

[2016-02-19 11:28] ruudk commented on #175
Any news? We've been running `1.0.0-alpha2` for a while now without any problems.

[2016-02-19 12:59] rjd22 commented on #175
@henrikbjorn I think we can close this now since it tagged a few more releases.

[2016-03-03 15:39] #175 closed

[2016-03-05 10:01] sagikazarmark opened #224 "Split up the driver interface"
In my opinion, there is too much responsibility in the Driver interface. For example not all queues allow to give information about itself (which can't be abstracted anyway), not all of them allow to create new or remove queues, etc. Therefore I think we should split up the Driver interface into several smaller one:
- The core driver interface should allow push/pop/ack which are necessary for the

[2016-03-05 10:05] sagikazarmark opened #225 "Default message name"
Two years old, still one of my most linked article: http://verraes.net/2013/09/sensible-interfaces/

One of the points here (which I agree with) is that Default means nothing. Default what?

Although it is a default implementation, I think PlainMessage sounds better. WDYT?

[2016-03-07 16:54] henrikbjorn commented on #225
:+1:

[2016-03-08 08:44] davidsteinsland opened #229 "Permissions for flat file driver"
Would be nice to give the FlatFileDriver instructions on what type of permissions we want the job files to have, for example adding group permissions.

[2016-03-08 13:32] henrikbjorn commented on #229
Hey @davidsteinsland

Feel free to open a PR

[2016-03-10 13:04] davidsteinsland opened #230 "Add suggestion of pcntl in composer.json"
... because it is used in `Consumer`. In versions `<= 1.0.0-alpha.2` the PCNTL extension is actually required, but it is not present in the `require` section either.

https://getcomposer.org/doc/04-schema.md#suggest

[2016-03-10 13:09] davidsteinsland commented on #230
The error that caused me to create this issue was:
[code]

I thought that the extension wasn't loaded, but after creating the issue I noticed that it was in fact loaded.
What causes PHP to complain is that the `pcntl_*()` functions are added to the `disable_functions` ini entry.

My dev server is an Ubuntu machine, where PHP is installed from the official ubuntu repo.
This caveat should probably b

[2016-03-11 19:40] davidsteinsland opened #233 "Attaching receipts to envelopes"
- When enqueuing envelopes, the driver should return a receipt which is attached to the envelope
- When dequeuing, the receipt should be attached to the envelope.

This makes it easier for event listeners to find the envelope in the storage system, for example if you want to implement status tracking of jobs.

Thoughts on this?

[2016-03-14 08:14] henrikbjorn commented on #230
I merged a PR the other day that checked for the functions (https://github.com/bernardphp/bernard/blob/master/src/Consumer.php#L170), is that enough or do we need a more extensive test for the availability of these functions?

[2016-03-15 11:50] luklub opened #235 "DirectoryIterator::__construct() expects exactly 1 parameter, 2 given"
Hi!
Seems that the only one parameter (the path of the directory to traverse) is expected by DirectoryIterator constructor in FlatFileDriver (https://github.com/bernardphp/bernard/blob/master/src/Driver/FlatFileDriver.php in line 32,  listQueues() method). Perhaps the FilesystemIterator should be used.

Edit:
I found this pull request https://github.com/bernardphp/bernard/pull/177. Maybe other ite

[2016-03-15 21:35] #233 closed

[2016-03-15 21:36] davidsteinsland commented on #230
That should work, but would be nice to get a suggestion as well. That way one can clearly see that ext-pcntl gives extra functionality.

[2016-03-15 21:36] #230 closed

[2016-03-15 21:36] #229 closed

[2016-03-15 21:37] #191 closed

[2016-03-16 09:07] funkytaco opened #236 "Use without composer autoload?"
I've tried running the example, but it appears to depend on a Composer install autoload. I'm comfortable with Composer, but unable to use it for this project due to environmental constraints.

Any example of using it without autoload.php?

[2016-03-16 09:19] funkytaco commented on #236
I'm just going to try to convince the team to put the files into the project statically.

[2016-03-16 09:19] #236 closed

[2016-03-16 12:05] henrikbjorn commented on #235
Feel free to open an updated PR and ill gladly merge it.

[2016-03-16 12:05] #235 closed

[2016-03-30 08:39] davidsteinsland commented on #225
I am assuming this BC feature will stick around for some time then:
`class DefaultMessage extends PlainMessage {}`

?

[2016-03-30 08:39] sagikazarmark commented on #225
Given there is no stable release, not sure if it is necessary.

[2016-03-30 08:39] henrikbjorn commented on #225
It will if somebody does the PR for this :)

[2016-03-30 08:50] davidsteinsland commented on #225
Although I agree @sagikazarmark, we're already using bernard in two different production environments already.. So, I would appreciate some form of semver.. (although semver *does* indicate that 0.y.z is non-stable until 1.0.0).

I guess it's up to @henrikbjorn :dancer:

[2016-03-30 08:51] sagikazarmark commented on #225
Worst case scenario is to manually alias the class (or even do that in bernard?)

[2016-03-30 08:51] sagikazarmark commented on #225
My point is that starting 1.0 with already deprecated features is not really a good communication of semver.

[2016-03-30 08:52] davidsteinsland commented on #225
Worst case? `class DefaultMessage extends PlainMessage {}` should like an OK solution for releases up to, but not including, `1.0.0`.

As already stated, we're using bernard heavily, and we can provide much better testing of new versions if we don't have to fix our code for *every* release.

[2016-03-30 08:54] sagikazarmark commented on #225
I meant you can just add a `class_alias` somewhere at the beginning of your application. Problem solved :wink:

[2016-03-30 08:55] sagikazarmark commented on #225
Well, I could imagine a solution, like maintaining BC until 1.0 (although as you also said, that's not semver).

[2016-03-30 08:55] davidsteinsland commented on #225
Whaaa.... `class_alias` should *never* be a feature in production php.. It's acceptable for mocking, yes...
I could rant on this for some while.

[2016-03-30 08:57] sagikazarmark commented on #225
Why? And how is it related to mocking? Not the best solution I admit that, but I don't see why it couldn't be a temporary one, even in production. (Many frameworks actually did it in the past, before DI started to spread)

[2016-03-30 09:01] davidsteinsland commented on #225
Just the point that it doesn't get picked up by auto completions/code intels is a good enough reason for me to drop it. But anywho, it's not a big update for me to change `DefaultMessage` to `PlainMessage` anyways, as we have our own message containers (that just extends `DefaultMessage`). So it's maximum 10 updates.

I just remember when I updated our code base to match the newest bernard, with e

[2016-03-30 09:02] sagikazarmark commented on #225
Well, yeah I can understand that. Kind of hard to work without a BC promise, but at this phase, it is also hard to have one.

[2016-03-30 09:04] davidsteinsland commented on #225
Sooner, rather than later, bernard should be `1.0.0` anyways. If it keeps going non-stable for months to come, I would assume that people opt not to use it (for the reasons already mentioned).

This discussion can probably continue in another issue.

[2016-03-30 09:05] sagikazarmark opened #238 "BC Promise until 1.0"
As per discussion in #225

[2016-03-30 11:46] henrikbjorn commented on #238
What kind of promise should we make?

[2016-03-30 11:47] henrikbjorn commented on #225
I would be happy to release a 1.0 as is. The only problem is that i don't use it much anymore myself. So if someone can convince me its a good enough ill tag a 1.0

[2016-03-30 12:03] sagikazarmark commented on #238
BC preserved when possible (like in case of #225), but 1.0 will be released without any deprecations introduced during the development phase.

[2016-03-30 12:05] sagikazarmark commented on #225
I would not. :smile:

Take a look at the list of issues and PRs. Many of them contain BC breaking stuff. Also, I would do some redesign regarding driver interfaces as mentioned in #224, etc.

[2016-05-02 19:52] sagikazarmark commented on #218
Related #159

[2016-05-02 19:59] sagikazarmark opened #241 "Improvements"
I am going to have a talk about background processing and I would like to use Bernard during the talk regardless it becomes stable or not. However I have quite a few improvement ideas as well as maintenance ones (like extracting components with external dependencies to separate packages (routers, drivers, etc)). Would you be open to such contributions?

[2016-05-03 07:30] henrikbjorn commented on #241
Yes i would :) And awesome if Bernard is included in your talk.

[2016-05-24 02:17] ghost opened #242 "PHPAmqpDriver missing from 0.12.3"
Hello everyone.
Package https://packagist.org/packages/bernard/bernard#0.12.3 features RabbitMQ-capabilities.
Using the package as described in the documentation, and entering phpamqp as the driver yields an exception in Symfony as it is not an allowed value.
Looking at /vendor/bernard/bernard/src/Bernard/Driver/ shows the abscence of PhpAmqpDriver.php .
Looking at the repository https://github.co

[2016-05-24 07:55] henrikbjorn commented on #242
This is a problem with the bundle. The bundle configuration does not allow phpamqp, feel free to open a PR against the bundle for this.

[2016-06-13 14:37] MichaelHindley opened #243 "Several methods are empty in PhpAmqpDriver"
Spent quite some time trying to figure out why this code doesn't work as expected:

[code]

https://github.com/bernardphp/bernard/blob/master/src/Driver/PhpAmqpDriver.php#L71

The methods are literally empty and don't do anything, it's not only countMessages, but several methods are actually empty and merged to master branch.

Am I missing something here, is this by design?

[2016-06-13 15:24] henrikbjorn commented on #243
Not sure if the driver supports getting the count, if it does, then feel free to open a PR and make it even better!

[2016-06-13 18:47] dardoguidobono opened #244 "Fix Limit 1 bug on 0.12.X tag"
currently i am using silex + bernardphp and doctrine.
The bug of a missing space in
protected function doPopMessage($queueName)
is fixed on the 1.X branch but not on the 0.12.

Thks.

[2016-06-21 08:19] russianlagman opened #245 "SymfonySerializer is missing"
subj

[2016-06-21 08:44] henrikbjorn commented on #245
The master branch uses a library called `normalt` that uses Symfony Serializer behind the scenes.

Feel free to open a PR with documentation changes if that is the issue.

[2016-07-11 12:45] Horki opened #246 "Bernard\Driver\PheanstalkDriver is missing"
Hello,
I'm using version 0.12.3, and class "Bernard\Driver\PheanstalkDriver" is missing

error message:
Fatal error: Class 'Bernard\Driver\PheanstalkDriver' not found in .... on line ...

[2016-07-11 13:41] henrikbjorn commented on #246
It is available in the 1.0.0 alpha series.

[2016-07-11 13:41] #246 closed

[2016-07-11 13:41] #245 closed

[2016-07-14 16:28] macnibblet opened #247 "Heya, new integration for zend-framwork based upon 1.0.0-alpha3"
Heya,

Just wanted to let you know we have created an integration for zend framework.
https://github.com/interactive-solutions/zf-bernard

[2016-07-14 18:18] henrikbjorn commented on #247
Cool, feel free to add a link in the documentation for it :)

[2016-07-18 14:11] cordoval opened #248 "documentation on persistence consumer runner"
is there a way to ensure ```php public/index.php consume algorithm-one``` keeps running all the time? I mean without supervisord or some other stuff, would be interest hearing what you guys are using out there.

My worry is what happens if the consumer crashes who will be responsible of bringing it back up? It is left out from the documentation but a at least a pointer would be helpful.

[2016-07-18 14:16] henrikbjorn commented on #248
It is your responsibility to make sure if it crashes to get it backup. For this you can use Supervisord or a similar system. Most UNIX/Linux based systems have these build in as well.

Feel free to open a PR with a note with information about doing this.

[2016-07-18 14:16] #248 closed

[2016-07-18 14:16] #247 closed

[2016-07-18 14:16] #241 closed

[2016-08-22 12:02] Ocramius opened #251 "DBAL-based queue constantly raises SQL-level errors"
As per https://github.com/bernardphp/bernard/blob/3b781583fd73deb2f612847c58dfa94e3eb5672e/src/Driver/DoctrineDriver.php#L40-L45, bernard tries to constantly bash the DB with `INSERT` statements that will fail.

While this seems to be acceptable at first, some database engines mark transactions with failed SQL statements as "failed transactions", rendering the entire DB connection unusable.

Few t

[2016-08-22 13:45] henrikbjorn commented on #251
Chose the one you think is best. The reasoning seems solid.

[2016-08-22 14:59] Ocramius commented on #251
Provided patch in #252. Patch is against `0.x`, since that's what I rely on, but I can also forward-port it to `master` for you, once it is reviewed/acceptable.

[2016-09-08 07:20] cordoval opened #253 "bernard with supervisord"
i am having a weird issue with bernard, when i run the command to consume manually on the console it works fine, however when i tell supervisord to run things, supervisord still works ok, but the php process is stopped and does not continue/finish == no logs to debug.

here is my conf:

[code]

any hints on what could be happenign or how to go around it?

[2016-09-08 08:03] henrikbjorn commented on #253
I have no idea.

[2016-09-08 11:33] cordoval commented on #253
supervisord works waiting for signals and stuff, so i think the problem is on the implementation on the bind perhaps https://github.com/bernardphp/bernard/blob/master/src/Consumer.php#L168

[2016-09-08 18:37] cordoval commented on #253
@henrikbjorn i am going to try forking it and removing those signal stuff, according to the docu it says windows does not use that. So i think even in linux or unix it can work without those lines right? just checking before wasting my time trying 👍

[2016-09-08 18:53] henrikbjorn commented on #253
We use them on linux to do a clear shutdown when interrupting and so on. So they can't be removed.

[2016-09-08 18:55] cordoval commented on #253
I see i am trying with them removed. After this if things still don't work i will switch to rabbitmq, hope not, but i gotta get this done 😊

[2016-09-09 11:36] rtuin commented on #243
Amqp itself does not support getting the number of messages currently in the queue so I did not implement it for the PhpAmqpDriver at the time. The same goes for listing queues.

The remaining empty methods (`peekQueue`, `removeQueue` and `info`) could be implemented if you have the need for them.

There are more drivers that have unimplemented methods, so at least it's consistent among them.
One

[2016-09-10 09:48] henrikbjorn commented on #253
@cordoval did you figure it out, or did you abandon it?

[2016-09-10 16:17] cordoval commented on #253
i am close to abandoning it, weird behaviors lots of problems very critical project

[2016-09-10 22:00] cordoval commented on #253
I have ditched supervisord for cron script to check it

i am now trying to split queues, i need to avoid that multiple runs of the command take the same $message->id, so that they actually collaborate and not collide.

[2016-09-11 10:08] henrikbjorn commented on #253
Multiple consumer will by default not collide and do the same work twice. Also your messages should not result in side effect and always have the same result.

[2016-09-11 14:53] cordoval commented on #253
yes it is weird, not sure why they do such a thing.

[2016-09-11 15:25] henrikbjorn commented on #253
What driver do you use, and what kind of work do your Receivers do ?

[2016-09-11 15:56] cordoval commented on #253
Doctrine driver. the work is a O(n2) job. The work is with an $message->id, it is idempotent the first algorithm but not the second since it depends on the results of the second algorithm. In reality is never idempotent since it will depend on the database values. Ideally the idea is that if there is a queue with messages that the workers will take one and if there is another consumer it will not

[2016-09-11 16:08] henrikbjorn commented on #253
Can you reproduce this in some way, maybe start two consumers, and log the messages they work on, it should be easy to spot duplicates.

[2016-09-15 18:45] byhoratiss commented on #244
Yes, I'm experimenting the same issue. But using through BernardphpBundle, which installed <1.0 branch of bernardphp.

[2016-10-12 11:11] nlzet opened #255 "New tag for composer"
Hi @henrikbjorn,

Can you also create a new tag for this repository? 1.0.0-alpha4 probably.

Currently behind 18 commits and some of them break my application if I use the last tag (alpha3). Are there plans for a stable release ?

[2016-10-12 12:12] henrikbjorn commented on #255
1.0.0-alpha4 tagged

[2016-10-12 12:12] #255 closed

[2016-10-12 16:39] nlzet commented on #255
Thank you

[2016-10-27 22:49] sagikazarmark commented on #224
@henrikbjorn may I ask for your feedback on this one?

[2016-10-27 23:03] sagikazarmark opened #256 "Separate drivers to smaller packages"
Although I love the idea of having one single package for everything, I would consider having smaller packages for the drivers with actual dependencies. For example: pheanstalk-driver with a dependency on pda/pheanstalk instead of suggestion.

It would add more maintenance, but would make the main package a bit cleaner. WDYT?

I am willing to work on this one if you agree.

[2016-10-28 05:22] henrikbjorn commented on #256
Have always been the idea.

[2016-10-28 05:32] sagikazarmark commented on #256
Alright...should I start by creating a repo in my namespace, transfering it and opening a PR for removal in the main one?

[2016-10-28 07:11] henrikbjorn commented on #256
Not sure what the right approach is, if we want to do like Symfony and have sub tree splits.

[2016-10-28 07:13] sagikazarmark commented on #256
Well, we are basically talking about one or two classes per repo, so I am not sure it worth to have subtree splits. It requires special versioning strategy, and so on. We discussed this approach for HTTPlug and decided not doing it for HTTP clients and adapters, since they might evolve separately. Also subtree splitting makes dependency management a bit harder, so I am against it for a project lik

[2016-10-28 08:35] henrikbjorn commented on #256
I can create the repos and then ill give you write rights to them. is that ok ?

[2016-10-28 08:40] sagikazarmark commented on #256
Sounds great.

Some more questions to clear:

1. Namespacing: Should it be `Bernard\Driver` or `Bernard\[DriverName]`? eg. `Bernard\Driver`, class name `Pheanstalk` or `Bernard\Pheanstalk`, class name `PheanstalkDriver` or maybe `Bernard\Pheanstalk`, class name `Driver`?
3. Package names: `bernard/[driver_name]-driver`?
2. Is it ok, if I write spec tests immediately for behaviour, unit tests for t

[2016-10-28 11:30] sagikazarmark opened #258 "Separate routers to smaller packages"
I am not so sure about this as in case of drivers, but could be a possibility too.

[2016-10-28 11:32] sagikazarmark opened #259 "Move commands to bernard bundle"
Are they really useful here? It's not that much code, so if absolutely necessary, could be duplicated.

[2016-10-28 11:35] sagikazarmark commented on #242
It has been solved here: https://github.com/bernardphp/BernardBundle/commit/de397d900f1e77df6eefff512f89cf9c17c5520e

[2016-10-28 11:38] sagikazarmark commented on #204
Dunno if it makes sense to have the two solutions in parallel. Maybe we can make it configurable? I could do it as part of the driver separation process #256

[2016-10-28 11:42] sagikazarmark commented on #243
#224 would be a solution for this

[2016-10-28 11:44] sagikazarmark commented on #180
As far as I can see the documentation has been updated.

[2016-10-28 11:47] sagikazarmark commented on #196
Kind of sad that some people with less good in themselves steal domains for a living. The URL has been moved, see #189.

[2016-10-28 11:55] sagikazarmark commented on #132
What was this exactly? Make everything final/private by default?

[2016-10-28 11:57] sagikazarmark commented on #130
So basically we have two propsals:

- Have some kind of encryption on the driver level (after serialization happens)
- Handle encryption on the serialization layer

[2016-10-28 11:58] sagikazarmark commented on #104
AFAIK the middleware architecture has been replaced with events. Maybe this could be a factory?

[2016-10-28 11:59] sagikazarmark commented on #121
The domain has been acquired by someone else, also the documentation concept has been changed, so this became invalid.

[2016-10-28 12:00] sagikazarmark commented on #256
Just realized this is a duplicate of #92

[2016-10-28 12:01] sagikazarmark commented on #96
Is this still relevant in it's current form?

[2016-10-28 12:01] sagikazarmark commented on #134
Dup of #97 ?

[2016-10-28 12:04] sagikazarmark opened #260 "Add ClassNameRouter"
I regularly have the case when using Bernard with [Tactician](http://tactician.thephpleague.com) that I want to use one receiver for a specific subset of messages (commands).

This router could check the instance against a set of registered receivers instead of the actual queue name.

[2016-10-28 13:22] sagikazarmark commented on #256
My vote goes to:

Repo: `bernardphp/[driver_name]-driver`

Namespace: `Bernard\Driver\[DriverName]`

Driver classname: `Driver` (+any other driver specific classes, like schema for doctrine)

Package name: `bernard/[driver_name]-driver`

If it's okay for you, I would create a boilerplate-driver repo/package first as a package boilerplate which then can be used later.

[2016-10-28 13:29] sagikazarmark commented on #224
Separate driver responsibilities:

- Basic/Messaging: push/pop/ack messages
- Queue management: list/create/remove queue
- Counting messages in a queue (might belong to the previous one)
- Peeking
- Stats

These are all separate responsibilities and not all of the drivers support all of them. A default noop implementation might make sense and might be required in many cases, but instead of relying

[2016-10-28 18:19] kynx commented on #256
Lurker here would go for Bernard\Driver\PheanstalkDriver every time - less chance I'll have to waste time aliasing it.

[2016-10-28 18:23] sagikazarmark commented on #256
Although it's simple, it has a few drawbacks:

- `Bernard\Driver` would be the namespace for autoloading and it's not really a good idea to have the same namespace for multiple directories
- If you need additional files for a driver (like in case of doctrine) it seems to be wrong to have it in a driver namespace

Also, if you import `Bernard\Driver\[DriverName]` namespace, you can use `[DriverName

[2016-10-31 08:15] henrikbjorn commented on #104
We could have `configureEventListeners`.

@Baachi i like the `configure` prefix as it shows explicitly what it is doing.

[2016-10-31 08:19] henrikbjorn commented on #260
Feel free to do a PR, should be simple enough.

[2016-10-31 08:21] henrikbjorn commented on #189
If somebody comes up with a good idea for a domain, i will gladly purchase it.

[2016-10-31 09:31] sagikazarmark commented on #189
bernardphp.io and bernardphp.net are both free:

https://www.namecheap.com/domains/registration/results.aspx?domain=bernardphp.io

[2016-10-31 09:33] henrikbjorn commented on #189
never really liked the php part of the name.

[2016-10-31 09:34] sagikazarmark commented on #189
Me neither, but bernard is not a fantasy name, very likely most of bernard.TLD will not be available. Checking though

[2016-10-31 09:35] henrikbjorn commented on #189
We could use the `flint` name and just have bernard.flint.xx or something ? or is that a bad idea/

[2016-10-31 09:40] sagikazarmark commented on #189
Hm, I think bernard is big enough to have it under a custom domain.

Some free bernard domains:

bernard.pw (professional web)
bernard.software

But these are not the best though....

[2016-10-31 09:44] henrikbjorn commented on #189
The js community have `{project}.js.org`, why doesn't php have that :/

[2016-10-31 10:29] sagikazarmark commented on #189
Yeah, would be nice.

[2016-10-31 10:49] sagikazarmark commented on #189
php.group
php.ong

domains are available, but I guess it's not the same :(

[2016-11-15 16:25] TFarla opened #265 "There is a typo in the Doctrine driver"
## Problem
The doctrine driver fails because there is a space missing in this query:
[code]

Location: DoctrineDriver.php:104

[2016-11-19 19:37] kynx opened #266 "OpenCloud driver"
I've written a driver for [php-opencloud](https://github.com/rackspace/php-opencloud/) which I'd like to send a PR for. But I've got a couple of questions...

1. Looking at the Doctrine driver, if you `pushMessage()` to a non-existent queue it'll get created for you. But it doesn't look like SQS or IronMQ work that way (though I'm not at all familiar with the underlying API). What's right?
2. By d

[2016-11-22 19:20] kynx commented on #266
OK, I'm converting the tests to use Guzzle's MockPlugin to simulate the responses from the API. That way at least the php-opencloud touch points get tested.

[2016-11-23 17:01] kynx commented on #266
My code is available over [here](https://github.com/kynx/bernard-opencloud). I'd do a PR right away, but I'm beginning to think this would be better in a separate repository (as maybe would the other drivers?). There are a couple of reasons:

* The current stable version php-opencloud has a dependency on Guzzle 3, which creates an ugly warning in composer
* Version 2 of php-opencloud is in the wor

[2016-11-24 08:11] henrikbjorn commented on #266
Hey @kynx

I created https://github.com/bernardphp/OpenCloud for you.

[2016-11-24 18:43] kynx commented on #266
Awesome! PR is at https://github.com/bernardphp/OpenCloud/pull/1

[2016-12-01 18:26] kynx commented on #253
This ticket has strayed a bit from the original title, but FWIW I'm running bernard under supervisord just fine. It's dockerized, so the config does some funny stuff with the logs, but here's what I've got in /etc/supervisord.conf:

[code]

Hope that helps anyone who stumbles on this ticket.

[2016-12-05 17:03] kynx opened #272 "Serializers documentation"
It looks like [serializers.rst](https://github.com/bernardphp/bernard/blob/master/doc/serializers.rst) is out of date. I can do a PR with what works for me, which isn't much more than:

[code]

But I'm not sure what to do with the Symfony and JMS serializer stuff. Are they even still needed?

[2016-12-06 08:17] henrikbjorn commented on #272
Seems right, no JMS Serializer is not needed anymore. Everything goes through symfony's serializer component.

[2016-12-11 09:25] danydev commented on #207
@henrikbjorn @ruudk Hey Guys, almost 1 year from the 1.0 alpha, are there plans to release it as stable? what's missing?

[2016-12-11 09:33] henrikbjorn commented on #207
Ill look at doing it tomorrow 😊
søn. 11. dec. 2016 kl. 10.25 skrev danydev <notifications@github.com>:

[2016-12-11 11:22] ruudk commented on #207
🙏🙏🙏

[2016-12-11 11:37] danydev commented on #265
fixed on master, see #240, #223

[2016-12-11 14:02] danydev commented on #207
@henrikbjorn great, thank you.

ps: I think [this bug](https://github.com/bernardphp/bernard/pull/275) deserves a fix before 1.0.0 release

[2016-12-15 08:58] henrikbjorn commented on #207
I went through some PR and pinged their author, so we don't have to do a 1.0.1 shortly after 1.0

[2016-12-15 10:21] #260 closed

[2016-12-15 10:36] #225 closed

[2016-12-15 10:43] sagikazarmark commented on #256
Ping :)

[2016-12-15 10:44] sagikazarmark commented on #224
@henrikbjorn WDYT?

[2016-12-15 11:27] #272 closed

[2016-12-15 11:40] kynx opened #276 "Common exceptions for drivers"
It'd be good to have a common set of exceptions implementing something like `Bernard\Exception\ExceptionInterface` for the drivers. Right now users have to catch exceptions thrown by the underlying implementation, so switching drivers would involve re-writing code.

Off the top of my head:

[code]

Thoughts?

[2016-12-15 11:41] henrikbjorn commented on #276
Sounds great

[2016-12-15 11:41] henrikbjorn commented on #224
Not sure this is worth pursuing, currently the drivers are "internal" only, meaning the end user should not work with them directly.

[2016-12-15 11:42] henrikbjorn commented on #224
but if it will clean up some code paths i am for it.

[2016-12-15 12:15] sagikazarmark commented on #224
Well, after rethinking there is only one remaining thing that bugs me: it seems to be wrong to return an empty array in peek when the driver does not support peeking.

No-op code (like createQueue when manual creation is not necessary) is not that big problem after all.

[2016-12-18 17:56] #243 closed

[2016-12-18 18:09] #276 closed

[2016-12-18 22:44] holtkamp opened #280 "SQSDriver::createQueue() and SQSDriver::removeQueue() not implemented?"
Just wondering, is there a particular reason the the SQSDriver seems incomplete?

- [SQSDriver::createQueue()](https://github.com/bernardphp/bernard/blob/7949ba87a1c58f8dd4c17120f4f24acd4df764e3/src/Driver/SqsDriver.php#L58-L60)
- [SQSDriver::removeQueue()](https://github.com/bernardphp/bernard/blob/7949ba87a1c58f8dd4c17120f4f24acd4df764e3/src/Driver/SqsDriver.php#L146-L148)

Might be better to th

[2016-12-19 09:20] henrikbjorn commented on #280
A PR would be great :)

[2016-12-19 09:27] holtkamp commented on #280
ok, will give it a shot, maintaining proper test coverage will be the hard part I guess 😊

[2016-12-20 14:50] holtkamp commented on #256
Funny, read this yesterday. Today on twitter: https://twitter.com/TobiasNyholm/status/810882518572564480

[2016-12-20 18:32] sagikazarmark commented on #256
SubtreeSplit is a nice approach when you don't want to use the master repository or you want all from them. In case of an adapter-pattern like project I am not sure if it adds too much, but @Nyholm might have a few interesting thoughts here since he maintains two projects like that.

[2016-12-20 19:22] Nyholm commented on #256
**For the users:**
A subtree split is a good idea for making smaller packages. It will remove the need for optional dependencies and you can version packages independent of each other. Ie if one driver have a BC break you do not have to bump all adapters.

**For the maintainers:**
I find subtree split a good approach when you share code between adapters. (Like PHP-cache.com). This organization is

[2016-12-20 19:27] sagikazarmark commented on #256
Yes

I think the main argument is that we have a central package here, which should hold some common code, and adapters/drivers should require it. From this point of view subtree split does not seem to be a good idea to me. Maybe having a separate drivers package would be better? And apply subtree split there? Would that be better?

[2016-12-20 19:38] Nyholm commented on #256
Ah okey. The master repo https://github.com/bernardphp/bernard should not be a package you can download. It should only be for development.

If you want to keep the package `bernard/bernard` point to this repo you cannot have a subtree split form here. You have two options:

A)
Create a slave repo and point the package `bernard/bernard` to that new repo. And create slave repos and new packages for

[2016-12-27 00:55] sagikazarmark commented on #256
Yeah, option B what I meant. That would actually be a good idea then, but somehow destroys the idea of subtree split, doesn't it?

[2016-12-28 12:50] Nyholm commented on #256
That is what I am trying with https://github.com/php-translation/platform-adapter Adapters do not share anything and there is no shared code apart from the adapters in the master repository.

Having this setup does not bring many benefits. Just that it is nice if Im going to change many adapters at once and there are lot less repositories to supervise. I may include php-translation/common in this

[2016-12-29 09:46] henrikbjorn opened #283 "Tidy up requirements."
Remove support for old php versions, old doctrine versions etc.

[2016-12-30 21:59] holtkamp commented on #280
Resolved by https://github.com/bernardphp/bernard/pull/281

[2016-12-30 21:59] #280 closed

[2017-01-05 11:11] kynx opened #284 "ErrorLogSubscriber::format() doesn't handle Throwables"
Just hit a problem with PHP7 and the ErrorLogSubscriber when the cause of the problem is an `Error`:

[code]

I guess the only backwards compatible solution would be to remove the `Exception` type declaration.

[2017-01-06 13:59] #284 closed

[2017-01-31 10:42] ruudk commented on #207
Any news? We are running `1.0.0-alpha4` in production without any issues.

[2017-01-31 10:51] danydev commented on #207
@ruudk still not merged on master fix for #275 (i.e. #252) that prevents bernard to work with PostgreSQL

[2017-01-31 12:14] henrikbjorn commented on #207
It needs to be rebased onto master and i don't currently have the time to do so.

[2017-02-18 04:01] trongdong opened #291 "gracefully shutdown consumer"
Hi there,
First of all, thanks for such a great library.
At the moment, we use bernard with redis driver for our job queue. The consumer is running under supervisord.
Our job is a bit heavy and it would take around 30 secs to process each message. And the message need to call multiple binary as child process.
We're facing an issue that whenever we need to deploy new code, we need to restart the co

[2017-02-20 11:02] bendavies commented on #291
this is exactly what the consumer currently does.
signals are caught:
https://github.com/bernardphp/bernard/blob/master/src/Consumer.php#L170
which causes the consumer to shutdown after the current job has finished processing

[2017-02-20 11:28] henrikbjorn commented on #291
make sure you are sending the correct signal and not just killing it off.

[2017-02-20 16:30] martinssipenko commented on #207
Any plans release 1.0 or at least a new alpha any time soon?

[2017-02-21 02:38] trongdong commented on #291
Thanks for your answer. I know that line of code and sent the correct signal. However, I notice that our consumer spawn a new child process (wkhtml2pdf for example), and when the signal is sent, it kill sub process immediately.

[2017-02-21 10:35] paolooo opened #292 "Fatal error: Call to undefined method Container::isRegistered() in /var/www/rise.global/vendor/bernard/bernard/src/Router/LeagueContainerAwareRouter.php on line 40"
**Fatal error: Call to undefined method Container::isRegistered() in /var/www/rise.global/vendor/bernard/bernard/src/Router/LeagueContainerAwareRouter.php on line 40**

\# | Time | Memory | Function | Location
-- | ----- | ------- | --------- | ----------
.. | ... | ... | ... | ...
6 | 1.0987 | 11823752 | Bernard\Router\LeagueContainerAwareRouter->accepts( ) | .../SimpleRouter.php:33

[2017-02-21 11:37] henrikbjorn commented on #291
@trongdong Have you tested that wkhtml2pdf arent forking on its own and catching the signal and then terminating the job?

Bernard does not fork out a process per job.

[2017-02-26 18:24] holtkamp opened #294 "(Automatic) creation of Amazon SQS Queue is broken"
https://github.com/bernardphp/bernard/pull/289#issuecomment-279327331

But ```SqsDriver::resolveUrl()``` will throw an **SqsException** when the Queue does NOT exist, this is triggered by ```$this->sqs->getQueueUrl(['QueueName' => $queueName]);```:

[code]

This type of Exception is not caught in ```SqsDriver::createQueue()```, so *automatic* creation of a Queue is now broken... I would suggest to

[2017-03-01 13:47] holtkamp commented on #134
I was about to create an issue for this, but might be better to keep it grouped:

"The DoctrineDriver uses a boolean field ```visible``` to mark whether a message should be fetched from a queue. When it is fetched, the field ```visible``` will be set to 0, indicating it is 'being processed' / in flight, after which it will be 'acknowledged' and thereby removed from the queue.

However, suppose som

[2017-03-01 14:45] henrikbjorn commented on #134
Sounds reasonable, a PR would be great.

[2017-03-01 15:06] holtkamp commented on #134
ok, will try to give it a shot. Is backwards compatibility (with the 'visible' column) a must? Think that will complicate the PR a bit...

[2017-03-01 18:38] henrikbjorn commented on #134
not until 1.0 final is tagged.

[2017-03-03 09:28] holtkamp commented on #134
FYI: it might take some time before I come up with a PR. For a work-related project we decided to use the SQS Driver, since Amazon AWS offers nice monitoring tools including alarms with [CloudWatch](https://aws.amazon.com/cloudwatch). So work on DoctrineDriver has to be in spare time...

[2017-03-03 09:42] holtkamp commented on #204
This might be interesting, performance / lock-wise:

- article: https://www.percona.com/blog/2014/12/19/store-uuid-optimized-way/
- inspiration implementation: https://github.com/ramsey/uuid-doctrine
  - not sure if this can adopted/used easily, but might be worth trying to

[2017-03-03 09:45] henrikbjorn commented on #204
I would much rather have the simpleflake implementation, as it is sortable by default etc.

[2017-03-03 09:53] holtkamp commented on #204
this page seems [down](https://github.com/SawdustSoftware/simpleflake/issues/9) 😢
- Presentation here: http://akmanalp.com/simpleflake_presentation
- PHP implementation here: https://github.com/michaelcontento/simpleflake-php

[2017-03-03 15:44] makmanalp commented on #204
Cross-linking discussion here: https://github.com/SawdustSoftware/simpleflake/issues/9

I don't know your exact requirements but one alternative approach is to do something like uuid1 (which has machine-id and time bits) and then reordering the bits so that the time stuff comes at the beginning, so it still sorts lexicographically.

[2017-03-04 04:29] trongdong commented on #291
@henrikbjorn At the moment, we use symfony process to fork new process. I think that the child process are catching that signal as well. Anyway, this is our problem but not bernard.

[2017-03-04 04:29] #291 closed

[2017-03-21 21:38] vova07 opened #300 "Invalid if statament in SimpleRouter"
https://github.com/bernardphp/bernard/blob/master/src/Router/SimpleRouter.php#L47 I think it should be `if (null == $receiver) {` because this https://github.com/bernardphp/bernard/blob/master/src/Router/SimpleRouter.php#L75 return `null` when there are no receiver.
Because of that was really hard to understand what is going on.

Thanks!

[2017-03-22 08:00] henrikbjorn commented on #300
In theory you are correct, in practice it does not really matter as `null == false` will evaluate to `true`.

[code]

However if you want to do a PR i will happily merge it.

[2017-04-06 21:44] mnvx opened #301 "Syncronous queue"
I use this nice library in my project for workers, parallel task execution.

All is very good, but for development and tests would be great to have way of run tasks in syncronous queue. It is more handy for debug. I would not run consumers, tasks would executed immediately as soon as they would have in queue.

For example, this approach realised in [Laravel](https://github.com/illuminate/queue/blo

[2017-04-07 08:22] makasim commented on #301
Synchronous queue is not that good idea as it might look like.

It works in the context of your current process. In sync queue the consumer may access a currently logged in user for example. You can even write a test and it would work but you face the error once you go live and use something real (like RabbitMQ). If you want to test it do it separately.Some tests for producer and others for consum

[2017-04-07 08:50] mnvx commented on #301
@makasim I agree with your arguments against syncronous queue. But in practice there is a sense in syncronous queue. Any more examples:

* I use queues in project, what using in many different companies: from very large where parallel processing of tasks is really needed to very small with weak it specialists where small data flows and it is not necessary to install server of queues and run consum

[2017-04-07 11:59] henrikbjorn commented on #301
@mnvx Instead of executing the Queue instantly when you enqueue a message it would be better to use the consumer and give it the InMemoryQueue instead.

[2017-04-07 12:13] mnvx commented on #301
@henrikbjorn Thanks for reply. I saw InMemoryQueue, but this way require to use consumers. SyncQueue not require to use consumers. This way more preffer if I want to make entry level into my project (with queues) more easy.

[2017-04-07 12:39] henrikbjorn commented on #301
The problem with this is that you may introduce a lot of latency in your application. Also you are sidestepping the logic. If we merge this we have to maintain the same logic in the consume as in the Queue it self.

If you want to, you can do a Producer that takes a Consumer and executes a single event on every produce.

[2017-04-10 06:18] mnvx commented on #301
I did it with custom producer class. Thanks for good advice.

[code]

[2017-04-10 06:18] #301 closed

[2017-04-16 12:56] #180 closed

[2017-04-19 15:44] kynx opened #303 "FlatFileDriver::removeQueue() fails when jobs have failed"
Hi,

This is coming up in my test environment. If a receiver throws an exception, the message is left in the queue directory with a name like '123.job.proceed'. `removeQueue()` only removes files that match `#\.job$#`, so the subsequent call to `rmdir()` fails.

What would be the best solution here? It would be easiest if `removeQueue()` also removed the *.proceed messages. But maybe it would be b

[2017-04-20 09:32] henrikbjorn commented on #303
removeQueue should remove files with the .proceed extension as well :) as the file queue is only really for testing etc.

[2017-04-20 09:40] bushibigniu opened #304 "Attempted to load class "DefaultMessageNormalizer" from namespace "Bernard\Normalizer""
the DefaultMessageNormalizer is not found, but in symfony code is:
return $this->services['bernard.normalizer.default_message'] = new \Bernard\Normalizer\DefaultMessageNormalizer();
so,throw error.
my symfony version is 3.2.7.
my project composer.json write is "bernard/bernard": "1.0.*@dev",
        "bernard/bernard-bundle" : "~2.0"

the detail error is :
PHP Fatal error:  Uncaught Symfony\Compone

[2017-04-20 10:46] henrikbjorn commented on #304
Seems like you install have failed for some reason. Try and be more explicit with the version for bernard. The latest release for the upcoming 1.0.0 release is `1.0.0-alpha4`

[2017-05-18 20:58] bashilbers opened #306 "tick handling and shutdown behaviour"
Hi guys/girls,

2 questions:

1. Why don't you register a tick handler? I see the `declare` construct being used, what purpose does it have without having a registered tick handler?
2. Shutdown behaviour. Currently the consumer's `invoke` method is blocking the shutdown mechanism. I.e. if consuming a particular message takes 3h to consume, and you send in a SIGINT signal (also, the default supervi

[2017-06-07 19:31] dndam commented on #304
Same issue! As mentioned above try installing 1.0.0-alpha4 version
`composer require bernard/bernard:1.0.0-alpha4`

This solved the issue on my end. Also, if you have a look to the src/Normalizer namespace you'll observe that indeed DefaultMessageNormalizer is no longer available. However, in alpha4 version this is present

[2017-06-07 19:35] henrikbjorn commented on #304
It have since 1.0.0-alpha4 been renamed `PlainMessageNormalizer`.

[2017-06-23 20:27] sagikazarmark commented on #256
I would like to pick this issue up and move drivers to a separate repo using subtree split. I will do some research and write down the plan here.

[2017-06-23 21:09] acrobat commented on #256
Maybe we can use https://www.subtreesplit.com/ from @Nyholm for the subtree split management. But indeed good idea to pick up this issue!

[2017-06-23 22:53] sagikazarmark commented on #256
That's the plan, yes.

[2017-06-23 23:31] kynx commented on #256
+1

[2017-06-24 12:57] acrobat commented on #205
Fixed in #268

[2017-06-24 12:57] #205 closed

[2017-06-24 13:49] sagikazarmark commented on #207
An alpha is coming.

/cc @acrobat

[2017-06-24 13:50] #300 closed

[2017-06-24 13:53] #189 closed

[2017-06-24 13:53] #196 closed

[2017-06-24 13:54] acrobat commented on #265
Fixed on master (next alpha will be tagged soon)

[2017-06-24 13:54] #265 closed

[2017-06-24 13:57] sagikazarmark commented on #92
Duplicate of #256 and #258

[2017-06-24 13:57] #92 closed

[2017-06-24 13:58] acrobat commented on #292
Fixed in #293

[2017-06-24 13:58] #292 closed

[2017-06-24 14:05] acrobat commented on #207
A new alpha is released! See: https://github.com/bernardphp/bernard/releases/tag/v1.0.0-alpha5

[2017-06-24 14:57] acrobat commented on #303
Fixed in #305

[2017-06-24 14:57] #303 closed

[2017-06-24 22:14] holtkamp commented on #130
@sagikazarmark did you have any progress on this? What option worked out best?

[2017-06-25 09:48] acrobat commented on #258
I don't think the routers need to moved to separate packages. For the drivers this is indeed a "natural" choice, but don't need this approach IMHO

[2017-06-25 09:50] acrobat commented on #253
I'm going to close this ticket as the original problem is abandoned. If anyone experiences issues with supervisor please open a new issue!

[2017-06-25 09:50] #253 closed

[2017-06-25 09:54] acrobat commented on #242
As @sagikazarmark mentioned this has been fixed!

[2017-06-25 09:54] #242 closed

[2017-06-25 10:06] acrobat commented on #132
Is this something we should check over the whole lib or did you had some specific classes? Ideally we should pick this up before releasing a stable release

[2017-06-25 10:08] acrobat commented on #121
All the links in the docs should point to the correct domain

[2017-06-25 10:08] #121 closed

[2017-06-25 10:09] acrobat commented on #96
I did a big docs rewrite a while ago in #215. Docs should be quite up to date now, please open a new issue if we are still missing parts!

[2017-06-25 10:09] #96 closed

[2017-06-25 10:17] henrikbjorn commented on #130
I once had the idea of doing something like having a message consist of headers and a body, where the headers would indicate encryption, type of body etc etc. kinda like a http message and i guess that is kind of what Rabbit does also.

[2017-06-25 10:43] acrobat commented on #304
This should be fixed with the latest release 1.0.0-alpha5 and the 2.0.1 release of the BernardBundle

[2017-06-25 10:43] #304 closed

[2017-06-25 11:26] cordoval commented on #253
This is fine, i am no longer using bernard for multiprocessing and i am no longer working on that project either. 👍

[2017-06-25 14:04] sagikazarmark commented on #132
Yes, the whole library should be scanned in form of a generic code review IMO.

[2017-06-25 14:06] sagikazarmark commented on #258
In my opinion everything that has an external dependency should be removed from the core library. Optional dependencies destroy the whole point of having dependencies IMO and should be avoided whenever possible. In an optimal case we can have at least a few implementations of drivers and routers which does not have an external dependency, so the core library remains functional.

[2017-06-29 18:08] acrobat commented on #259
@sagikazarmark are you still ok with moving the commands to the bundle? I like the idea as symfony doesn't include commands in their separate components but includes them in bundles (frameworkBundle, webserverBundle, ...). But I don't know if anyone is using the commands as a standalone

I can start pr's to move the commands around!

[2017-06-29 21:55] sagikazarmark commented on #259
Hm, dunno. One could use them in any application, not just symfony, but then it shouldn't take much to install the bundle as a regular package. Let's keep as much symfony related integration in one as possible, so let's move them, unless there are other arguments against it.

[2017-06-30 17:41] kynx commented on #259
I use the commands (w/symfony-console) in an Expressive app. Don't know if that counts as standalone.

Moving them to a separate package would make them less discoverable. Fine for symfony, less so for a smaller library.

But hey, just my 2c

[2017-07-01 08:46] acrobat commented on #259
No you have a good point there! So maybe we shouldn't move the commands.

@sagikazarmark maybe we should keep the consume and produce command in here and move the doctrine commands to the doctrine driver package when we split the repo drivers. what do you think?

[2017-07-01 10:44] sagikazarmark commented on #259
Leaving the commands here yields an optional dependency. It also means we have no control over the symfony version the user installs (since we don't enforce it via Composer). We could add packages to the conflict section, but that's just not the solution.

But I realized that moving them to the bundle might not be a good idea for "standalone" usage, since it requires half of Symfony to be installe

[2017-07-06 20:26] GregPK opened #313 "Example does not work (checked doctrine - probably for any driver)"
When running any file from `example/` you will get the following error:

[code]

The line at fault is this one: https://github.com/bernardphp/bernard/blob/master/example/bootstrap.php#L34. When it's removed - runs fine.

[2017-07-07 20:32] acrobat commented on #313
@GregPK thanks for reporting the issue! Can you please check if #314 fixes your issue? Thanks!

[2017-07-09 10:13] #313 closed

[2017-07-09 19:32] acrobat opened #316 "Compatibility with mongodb php7 extension"
mongodb has a new php7 extension. This is a minimal api and a userland library (https://github.com/mongodb/mongo-php-library) is provided to have all classes available

But this will break some typehints in our code, like https://github.com/bernardphp/bernard/blob/master/src/Driver/MongoDBDriver.php#L23

mongodb tests are currently skipped on php7

[2017-07-17 21:22] holtkamp opened #317 "Support for AWS SQS FIFO Queues"
[AWS SQS supports FIFO Queues](http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html), which could be nice for asynchronous event processing  when the order of the events is important to maintain.

Important aspects:
- a FIFO QueueName always ends with suffix `.fifo`
- when creating a FIFO Queue, an attribute `FifoQueue` is required
- when sending a message, ad

[2017-07-18 02:08] fedeisas commented on #207
Is there any way I can help to turn the last alpha into a stable version? I'm implementing a new project using Bernard and I'd love to contribute. Thanks!

[2017-07-18 02:16] sagikazarmark commented on #207
Unfortunately there are quite a few design decisions left to make, so
tagging at this point is early IMO. I would say we should aim this year for
the stable, but nothing more concrete.

You can take a look at the open issues and contribute to the discussion.

2017. júl. 18. de. 4:08 ezt írta ("Fede Isas" <notifications@github.com>):

[2017-07-18 12:47] holtkamp opened #319 "Make (long) polling of queues configurable"
Currently most (all?) drivers use a `$duration` parameter for the `popMessage()` [function which defaults to 5 seconds](https://github.com/bernardphp/bernard/blob/b3931e9a796e8a6ce8025dcd7199f5da9771ec54/src/Driver/SqsDriver.php#L108). It would be nice if this 'default' is set during driver instantiation and thereby becomes configurable.

**Rationale**
While the 5 seconds might be great default be

[2017-07-19 09:58] acrobat opened #321 "Performance regression in consuming queues"
I'm upgrading a php app which used a older release of bernard to 1.0.0-alpha5. This causes a huge regression is performance (because of the 5 second wait time in popMessage). This is on an empty queue

![image](https://user-images.githubusercontent.com/1374857/28361537-6144d114-6c79-11e7-87b4-a67efca77a30.png)

I will try to debug some more and come up with a fix

[2017-07-19 12:46] henrikbjorn commented on #321
@acrobat The wait time is correct, as you are saying "block until i receive a message or duration time have passed". You a doing a consume in the same request as the http request?

[2017-07-19 12:49] acrobat commented on #321
No I run the consumer in a separate proces and console command. But why is that 5 second wait time check implemented? I would think it works this way:

- Get message from queue
-- There was a message in queue, pass the body to the consumer
-- No message in queue (was 10 ms) and pass null message

But the 5 sec wait doesn't seem necessary to me

[2017-07-19 12:59] henrikbjorn commented on #321
In a consumer, you want them to run forever in a detached process. So instead of going through a hot code path, every 10ms, if there is no message. Then we wait for one to be available so we can consume it as fast as possible.

Most of queueing api provides already have this e.g. SQS uses `WaitTimeSeconds`.

The 10ms usleep is a hack to not have PHP consume a gazillion amount of CPU when doing the

[2017-07-19 13:08] henrikbjorn commented on #321
A simpler example would be this.

1. open Activity Monitor
2. Run this in your terminal: `php -r 'while (true) {};'`
3. See the CPU usage spike to 99%
4. Try this in your terminal: `php -r 'while (true) { usleep(10000); };'`
5. See the CPU usage stay at 1%

[2017-07-25 11:20] acrobat commented on #256
@sagikazarmark what are the exact steps to do this? Do we just create the separate repo's by hand and move the code and then initialize subtreesplit or will the code moving part be done by the subtreesplit?

This way we can already do some preparations for the move!

[2017-07-25 11:24] Nyholm commented on #256
You need to create separate repos and the tell subtreesplit what folder should be pushed to which repo.
You do not need to populate the new repos yourself.

[2017-07-25 15:39] sagikazarmark commented on #256
So the plan is to create a separate drivers repo (already done) and move current drivers there.

Class name will be `Bernard\Driver\[DriverName]\Driver` (eg. `Bernard\Driver\Pheanstalk\Driver`) which is somewhat inconvenient, but easy to maintain and documentation should resolve the convenience issue.

Repo names: `driver-[drivername]`
Package names: `bernard/driver-[drivername]`

It worked quite

[2017-07-25 17:05] sagikazarmark commented on #256
Decided to go with an in-memory driver instead.

[2017-07-25 17:08] sagikazarmark commented on #256
@Nyholm what's the current best practice: run the tests when pushing to the main repo or when subtree is done?

(The first one sounds better to me)

[2017-07-25 17:33] Nyholm commented on #256
Yes. First one.

I also run Travis on individual driver to get the code coverage stats.

Have a look at php geocoder for a good Travis.yml

[2017-07-26 07:56] acrobat commented on #256
Thanks for the info @sagikazarmark! I will let you do the setup on the first driver to get all things right and then I will jump in and also do some drivers!

[2017-09-06 07:08] acrobat commented on #321
The reasons behind the changes sound logic to me. But in our application we use a single worker to watch, let's say, 6 queues. If the first 5 queues are empty it takes 25 seconds to get to the 6th queue which has messages.

So if I understand this change correctly it is better to create 6 separate workers watching only a single queue?

[2017-09-06 09:23] henrikbjorn commented on #321
It might be. Someone did a RoundRobin consumer thingy, that might help you ? In that case the wait time can be lowered locally.

[2017-09-15 06:32] slince opened #325 "stable release"
Hi there, i have some questions.
1. Is there any plan to release a stable version?
2. How to track the message status.

[2017-09-15 10:11] acrobat commented on #325
Yes I think the rough plan of @sagikazarmark was to have a stable release by the end of the year. The biggest task will be splitting the drivers out of this repo and into separate packages.

About the message status can you explain a bit more what you are trying to do?

[2017-09-15 10:26] acrobat commented on #317
Fixed in #318

[2017-09-15 10:26] #317 closed

[2017-09-15 12:01] slince commented on #325
@acrobat

Ok, sometimes we need to tell client whether to wait or try again. So we have to track a job status(waiting, completed or failed)

[2017-09-15 12:07] slince commented on #325
I don't think you need to do that. Reference [monolog](https://github.com/Seldaek/monolog/tree/master/src/Monolog/Handler), it have so many drivers.

[2017-09-15 13:44] acrobat commented on #325
I don't know which queue driver you use, but for example the flatfile driver. All messages in the directory are waiting, but when they have the .proceed suffix they are currently being processed and when the file is not in the directory the job is completed (failed jobs are still in the directory, just like a new job)

About the driver separation process, this is indeed something that is not neces

[2017-09-18 09:55] #325 closed

[2017-09-23 07:31] acrobat commented on #256
@sagikazarmark did you make any progress on the first driver? Or is there something I can do to start on this?

[2017-09-23 20:28] sagikazarmark commented on #256
Yeah, I started to get my head around this, have some tests standardized locally. Will send some branches for review over the weekend.

[2017-09-24 07:36] acrobat commented on #256
Ok great!

[2017-10-06 19:33] #207 closed

[2017-10-06 19:34] #204 closed

[2017-10-07 18:53] acrobat commented on #204
Shouldn't we keep this issue open and implement it while doing work on the drivers?

[2017-10-08 03:24] namoscato opened #331 "Add serializer interface"
Is there any reason a serializer interface does not exist? An interface type hint in `PersistentQueue` / `PersistentFactory` especially would make things a little more flexible.

[2017-10-11 04:39] marulitua opened #335 "Infinite recursion in example"
function get_event_dispatcher will call function get_producer to get an instance of Producer,
[code]
in order to generate instance producer function get_producer will call function get_event_dispatcher to generate an instance of EventDispatcher.

[code]
This leads to infinite recursion when run example with any driver.

[2017-10-13 03:21] namoscato commented on #256
I would be happy to help out with this as well.

[2017-10-24 09:31] acrobat commented on #321
I've upgraded our bernard lib today and indeed the roundrobin queue is a problem when processing a amount of queues. Maybe it's a good idea to allow passing a default "wait time" to the queue factory so you can decide in your setup what a potentional wait time should be.

If we change this line https://github.com/bernardphp/bernard/blob/master/src/Driver/PhpAmqpDriver.php#L104 (same for all driver

[2017-11-05 11:01] acrobat commented on #256
Sorry to ping you again @sagikazarmark! Did you make any progress on this? Or can and somehow start some work on this (a single driver to test the whole implementation)?

[2017-11-05 15:01] #331 closed

[2017-11-05 18:00] sagikazarmark commented on #256
I created #337 with an initial in memory driver implementation. I gave having a core test suite much thought and I realized that without ugly hacks we can't really have an interface for setting driver state, so as for tests we should just have a sane template to follow.

I'm also thinking about writing spec tests instead of/additional to unit tests.

[2017-11-05 18:02] sagikazarmark commented on #256
I will also try to send a PR to the drivers package to have some ideas how migration would work.

[2017-11-05 18:16] acrobat commented on #256
Thanks will check it out!

[2017-11-15 20:13] ruudk commented on #319
I just found out about this issue. I was using a RoundRobinQueue and it was super slow while it didn't process anything. Found out it was related to the `$duration = 5` property.

When the queues are empty, it will just continue to the next message. But when there is >=1 message in the queue, it will always block for the default 5 seconds.

@henrikbjorn @acrobat Any idea how to fix this? Should we

[2017-11-15 21:50] holtkamp commented on #319
Might it be covered by https://github.com/bernardphp/bernard/pull/326?

[2017-11-16 07:20] acrobat commented on #319
Yes this is definitely something we need to dig in and fix. In a project of mine I've upgraded the lib from an early alpha version to the latest alpha and we had to create an custom legacy driver from one of the first alpha's to overcome queue delays.

One solution could be to make the `duration` option configurable on a high level or we could if this needs other changes to discard the whole delay

[2017-11-16 09:08] ruudk commented on #319
What about this? https://github.com/bernardphp/bernard/pull/339 :)

[2017-11-22 12:17] guyradford opened #347 "Consumer 'duration' option"
I see that the `dequeue` duration is hardcoded to 5 seconds. This time cant be overridden anywhere. With such a short long poll wait we get lots of logs and we are only running 5 different job workers.

Would it make sense to extend the Consumer class allowing another `options` value to be added.

[code]

The Consumer class can then be updated to accept this new option as pass it to the `$queue->d

[2017-11-27 17:14] namoscato opened #348 "Add support for batch publishing"
Has there been any thought into whether or not we could add support for batch publishing (i.e. [php-amqplib](https://github.com/php-amqplib/php-amqplib#batch-publishing))?

[2017-11-27 22:14] elazar commented on #294
Was this resolved by #295 / #327?

[2017-11-27 22:40] elazar opened #349 "Order of operations in message acknowledgement / consumer failure"
In `Consumer->invoke()`, if the [routed callback](https://github.com/bernardphp/bernard/blob/b38d402b208415580f3615cff25cbcfadb6c3e9e/src/Consumer.php#L134) throws an error or exception, the subsequent [message acknowledgement](https://github.com/bernardphp/bernard/blob/b38d402b208415580f3615cff25cbcfadb6c3e9e/src/Consumer.php#L137) never occurs.

When using [`FailureSubscriber`](https://github.co

[2017-11-28 08:57] holtkamp commented on #294
@elazar yes! You are right, this issue can be closed.

[2017-11-28 08:57] #294 closed

[2017-11-28 09:36] henrikbjorn commented on #348
There is a Branch with some old code.

[2017-12-07 14:58] SlimDeluxe opened #351 "Does bernard support parallel tasks?"
I can't find it in the docs - is it possible to run two or more tasks in parallel?
E.g. I use a producer to queue task A which takes 10 seconds, and immediately task B which takes 1 second.
Will they be executed one after the other or is there a way to unblock task B and let it finish earlier?

I want to do something like this:

[code]
... where SendEmail takes 1 second so I don't want to block it

[2017-12-07 18:06] kynx commented on #351
The consumer will process one message at a time. If you want them running in parallel, launch multiple consumers.

[2017-12-07 19:48] SlimDeluxe commented on #351
I think "Roundrobin queue" is what I was looking for but didn't really notice it before. Anyway there's no reference for it in code so I guess it was removed.
Thank you for your reply.

[2017-12-07 19:48] #351 closed

[2018-01-23 20:17] rtripault commented on #347
Just to note that's somehow duplicate of #319

[2018-02-14 01:38] sagikazarmark opened #357 "Create a Dockerfile for running tests locally"
- [x] Create `bernardphp` organization

[2018-02-14 07:56] henrikbjorn commented on #357
Please invite to it :)

[2018-02-14 16:57] sagikazarmark commented on #349
Sounds reasonable, but to be honest, I'm not a huge fan of the current event dispatching solution. Massive rewrites are happening, this might be part of it as well. If not, we can get back to this after that.

[2018-02-15 05:13] sagikazarmark commented on #357
Username?

[2018-02-15 05:21] sagikazarmark opened #358 "Improve README"

[2018-02-15 05:27] #358 closed

[2018-02-15 05:31] sagikazarmark opened #360 "Review and improve CI"

[2018-02-15 06:51] sagikazarmark commented on #357
@henrikbjorn can you give me access to [Scrutinizer](https://scrutinizer-ci.com/g/bernardphp/bernard/) please?

[2018-02-15 06:53] #360 closed

[2018-02-15 06:55] sagikazarmark opened #361 "Delete deprecated DefaultMessage"

[2018-02-15 06:57] #361 closed

[2018-02-15 07:02] sagikazarmark opened #362 "Create a trait from the AbstractMessage"
Inheritance doesn't make any sence in that case

[2018-02-15 07:45] acrobat commented on #358
Nice, doing a lot work! 💪

[2018-02-15 08:13] sagikazarmark commented on #358
Thanks, trying to catch up with the promise that 1.0 would be tagged by the end of 2017.

[2018-02-15 08:46] henrikbjorn commented on #357
@sagikazarmark "henrikbjorn" sure, i'll look into it.

[2018-02-16 00:24] #362 closed

[2018-02-16 00:28] sagikazarmark opened #364 "Check why Travis does not report commit status"
@henrikbjorn can you please check this? I can't see the registered hooks.

(Scrutinizer also does not report status upon PRs, nor uses the uploaded code coverage reports)

[2018-02-16 00:50] sagikazarmark opened #365 "Delete all container routers, support PSR only"
- Pimple has a [PSR-11 wrapper](https://github.com/silexphp/Pimple/blob/5949dae370fac0bf532e9266b42243742b141d26/src/Pimple/Psr11/Container.php)
- League container implements [container-interop](https://github.com/container-interop/container-interop) which extends PSR-11
- Symfony implements PSR-11 since 3.3 which is an acceptable minimum requirement in 2018 (writing wrappers is easy for earlier v

[2018-02-16 02:10] sagikazarmark opened #367 "Move parent Exception to the package root namespace"
This is the pattern we followed with the rest of the interfaces

[2018-02-16 04:58] sagikazarmark commented on #251
@acrobat I can see you worked on this. Are you planning to rebase and resubmit it?

[2018-02-16 05:01] sagikazarmark commented on #335
Thanks for reporting. Fixed in https://github.com/bernardphp/bernard/commit/c554419d7971c70055ae4c541f307dd2ec1fff01

[2018-02-16 05:01] #335 closed

[2018-02-16 05:04] sagikazarmark commented on #316
We probably have to create two separate drivers then.

[2018-02-16 05:06] sagikazarmark commented on #283
Should this involve dropping PHP 5.6 support as well? Honestly after the long struggle Bernard survived, I believe it deserves a release supporting PHP 5.x. There are still a lot of us stuck on that version.

[2018-02-16 05:08] sagikazarmark commented on #258
Most of the vendor container routers are going to be removed, so this can be closed.

[2018-02-16 05:10] #238 closed

[2018-02-16 05:11] sagikazarmark commented on #100
Looks like you sorted it out.

[2018-02-16 05:11] #100 closed

[2018-02-16 05:13] sagikazarmark commented on #97
Closing as duplicate and the other issue seems to be more active

[2018-02-16 05:13] #97 closed

[2018-02-16 05:14] sagikazarmark commented on #132
This is happening, will be part of generic review and refactoring.

[2018-02-16 05:14] #132 closed

[2018-02-16 05:18] sagikazarmark commented on #244
Fixed in https://github.com/bernardphp/bernard/commit/b0d3efa6530cb2d8010ae786a5fc1b8406a7fbed

[2018-02-16 05:18] #244 closed

[2018-02-16 08:37] sagikazarmark commented on #283
Yeah, same thoughts, but I'm not sure dropping PHP 5.6 support in a minor adds too much. We can't change the interfaces to have scalar type hints and return values in a minor release.

[2018-02-16 08:38] #258 closed

[2018-02-16 08:38] #365 closed

[2018-02-16 08:38] #367 closed

[2018-02-17 03:03] sagikazarmark opened #370 "Review exceptions"
- Improve tests
- Make them final
- Check which of them are still used

[2018-02-17 07:26] acrobat commented on #251
Uhm let me see if I can dig this up again 😄

[2018-02-18 07:24] sagikazarmark opened #372 "Improve routers"

[2018-02-18 16:32] acrobat commented on #283
No we can't really use any new php7 features until the next major. But supporting old and eol php versions is not necessary imo.

[2018-02-18 21:14] acrobat commented on #316
Yes indeed, that will be the best solution. Let's first do the split of the current drivers and then see what we can do for the mongodb driver

[2018-02-18 22:12] #370 closed

[2018-02-18 22:15] #372 closed

[2018-02-18 22:16] sagikazarmark commented on #283
Okay, that's a question for later, for now we keep PHP 5.6 then.

[2018-02-18 23:56] #283 closed

[2018-02-19 06:19] sagikazarmark opened #376 "Drop AppEngine driver?"
Is it still useful? IMO Google PubSub would be a better path to follow. Not a single issue arrived for this driver over the years and it can always be added back if someone needs it.

[2018-02-19 07:35] henrikbjorn commented on #376
PubSub is not suitable for message queues

[2018-02-19 07:36] henrikbjorn commented on #376
Unless it works like NSQ

[2018-02-19 11:18] sagikazarmark commented on #364
@henrikbjorn can I ask more access to the org? I would like to setup subtree splitting and travis

[2018-02-20 12:49] sagikazarmark commented on #316
Moving to bernardphp/drivers#11

[2018-02-20 12:49] #316 closed

[2018-02-20 12:52] sagikazarmark commented on #266
Moving to bernardphp/drivers#12

[2018-02-20 12:52] #266 closed

[2018-02-21 09:03] sagikazarmark opened #377 "Driver interface changes"
## Cleanup

As mentioned in #224 I believe the Driver interface needs a little bit of cleanup.

Currently it's not really an abstraction, and part of the problem is this also reaches the Queue abstraction layer.

Talking about three methods in particular:

- count (also in Queue)
- peek (also in Queue)
- info

These are never used in the consumer-producer context (which I think is the primary goal

[2018-02-21 09:04] #224 closed

[2018-02-22 12:56] acrobat commented on #377
I like the idea of moving stuff the a `CountableDriverInterface` and other specific interfaces so each driver can decided on what it want to support of "extra features". This way we also keep the general interface clean

[2018-02-22 15:10] sagikazarmark commented on #377
That's the idea.

[2018-02-22 16:18] acrobat commented on #377
I would say go for it! 💪

[2018-02-22 17:32] sagikazarmark commented on #377
I've done some research (previous assumptions were purely based on the driver interface and it's implementations): looks like it would be quite hard to make peek and count removed from the interface, but at the same time kept as an optional feature.

I'm not really happy to say this, but without major refactor on the queue level as well removing those methods is not possible.

While I think it wou

[2018-02-28 07:25] sagikazarmark commented on #364
Ping @henrikbjorn

[2018-03-18 09:06] sagikazarmark commented on #364
Ping @henrikbjorn

[2018-03-19 07:40] henrikbjorn commented on #364
Hey. Sorry i must have missed this issue. It seems that i have to make you an Owner in order to give you more access. What access are you missing?

[2018-03-19 07:57] sagikazarmark commented on #364
I would like to enable subtreesplit.com and scrutinizer integration for the drivers repo and probably readd travis integration, because commit status is not reported.

[2018-03-19 08:02] henrikbjorn commented on #364
It seems subtree split was under some requested thing. I approved it. I can remove travis if you want to readd it. I might need to give up on my control gene :)

[2018-03-19 20:42] aembler commented on #321
I'm seeing this behavior too. What we'd like to have is a multiple queues within our application, powered by the Tactician/Bernard bridge. So we'd have many commands like "RescanFileCommand", "EmptyTrashCommand", "CopyPageCommand", etc... and a single queue script run through the CLI:

concrete/bin/concrete5 queue:process

Which when looks through all our queues (using our configuration system). T

[2018-03-22 08:09] acrobat commented on #321
I think this is something we can pick up when working towards the 1.0 stable release.

[2018-03-22 08:11] henrikbjorn commented on #321
Just be cautious of the previously mentioned cpu issue by having the wait time being low.

[2018-05-28 09:47] karser opened #382 "FlatFileDriver::popMessage should throw an exception if not enough permissions to rename the files"
I know it sounds obvious but I just have spent an hour figuring out why it doesn't consume the messages that I produce using file driver.

ls -alh app/cache/dev/bernard/my-queue-name
[code]

The answer was simple permissions error (www-data vs cli user) but shouldn't it throw InsufficientPermissionsException rather than silently failing?
![image](https://user-images.githubusercontent.com/1675033/4

[2018-05-28 10:29] henrikbjorn commented on #382
I guess this check should be there in the constructor or when the queue is creted for the first time.

[2018-05-28 11:02] karser commented on #382
How about the case where the queue directory was empty - so validation in constructor passed. Then new messages files are created with `www-data` owner. And the CLI user will encounter this at the processing time in `popMessage`, so `@rename` will continue silently failing.

I was suggesting something like that:
![image](https://user-images.githubusercontent.com/1675033/40611577-8deb090c-627f-11e8

[2018-05-28 11:32] henrikbjorn commented on #382
Maybe it should but since the file driver is only for development purposes it does not seem good use of power to constantly check for permissions.

[2018-05-28 11:34] karser commented on #382
`@rename` is called either way so no additional checks are needed. The problem is that it's silently failing by its nature.

[2018-05-28 11:35] henrikbjorn commented on #382
Submit a PR

[2018-06-24 11:42] sagikazarmark commented on #382
Fixed in #383

[2018-06-24 11:42] #382 closed

[2018-06-25 05:53] henrikbjorn opened #385 "Redo Documentation"
I lost access to the readthedocs.io interface for Bernard repositories.

[2018-06-25 17:49] sagikazarmark commented on #385
I don't have access to it either, I think I never even had it.

I can see it under your profile: https://readthedocs.org/profiles/henrikbjorn/

[2018-06-25 18:02] henrikbjorn commented on #385
Yeah but i can't login. I'll shoot them an email tomorrow
man. 25. jun. 2018 kl. 19.49 skrev Márk Sági-Kazár <notifications@github.com

[2018-06-25 18:43] sagikazarmark commented on #385
Ah, okay.

[2018-06-27 07:02] henrikbjorn commented on #385
Haven't heard back from them yet.

[2018-07-06 07:04] henrikbjorn commented on #385
I have regained access.

I have fixed the issue on bernardphp-com project.

I think i fixed the docs for bernard also.

[2018-07-06 07:04] henrikbjorn commented on #385
Personally i vote for something like GitBook to do better documentation.

[2018-09-26 09:37] dudapiotr opened #389 "Microsoft Azure Queue Storage Support?"
Hi all,
Do you have any plans to implement integration with microsoft azure eg. Azure Queue Storage?
If not, do you have any documentation for developers how to create own driver?

PD

[2018-09-26 10:03] sagikazarmark commented on #389
Adding Azure support would certainly be a great addition to this library.

Official drivers are here: https://github.com/bernardphp/drivers

Although we don't have a documentation, adding drivers based on existing examples should be simple.

[2018-11-04 11:59] holtkamp opened #391 "[suggestion] Support for AWS SQS GetQueueAttributes"
When a AWS SQS Message is fetched from a MessageQueue and not "acknowledged" to be processed, it is considered to be "in flight".

To determine the number of "in flight" Messages on a MessageQueue, the [`GetQueueAttributes()`](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_GetQueueAttributes.html) action can be used, which also provides access to other usefull informatio

[2018-11-16 10:20] sagikazarmark commented on #391
Sorry for the late reply.

The thing with the Driver interface is that it's meant to be an internal thing. The public API of this library is the Queue and related interfaces.

The problem with that info method is there is no real contract for it, it's just some unstructured data. As such, I find it hard to expose it in the public API.

[2018-11-16 12:00] sagikazarmark commented on #391
The original purpose of that method was to be used in Juno with some supported drivers, but the library evolved a lot and that use case is really not a priority one. I'm actually thinking of removing that method.

If I were you I would probably write my own layer of abstraction to get queue information in my application. There is nothing wrong with keeping the responsibilities separated.

[2018-11-16 12:34] henrikbjorn commented on #391
I would be against removing info. Also it can't be done without a major version release.

[2018-11-16 12:40] sagikazarmark commented on #391
A major version release is imminent anyway. We are not even at 1.0 yet.

What are the reasons to keep info? Right now it kinda goes against the idea of keeping the Driver an internal concept to the library.

But even if we keep it around, it's still an internal thing and I think it should stay that way, otherwise it's a leaky abstraction.

[2018-11-16 12:44] henrikbjorn commented on #391
The reason for not moving it, is that i am using it and i think it is vital to have a way of getting information about the queues. If there was a better abstraction or something, that did this better then i am all for removing it.

[2018-11-16 12:54] sagikazarmark commented on #391
What kind of information are we talking about? Can we define a common set of attributes that we want to expose?

Right now I don't see that possible and I think that info retrieval will always be a driver/service dependent thing which is probably specific to your application somehow. As such, from an architectural perspective this should probably be a separate responsibility from messaging.

My co

[2018-11-25 14:02] helhum opened #392 "What are the blockers to get a 1.0.0 stable release out?"
Hey. I was wondering what the current blockers are to get a release out and if there is something I could support you with?

[2018-11-25 19:41] sagikazarmark commented on #392
Basically the driver migration and we have a few conceptual things to sort out. Unfortunately I didn't have much time to work on bernard lately.

I also think we should consider moving straight to php 7.x...time has passed.

[2018-11-26 11:05] helhum commented on #392
Would it help if I'd pick and work on any of these tasks? https://github.com/bernardphp/bernard/projects/1

You mean #377? Or is there more?

[2018-11-30 12:55] GDmac commented on #306
Declare tick should not be used at all, it should use [pcntl_signal_dispatch](http://php.net/manual/en/function.pcntl-signal-dispatch.php) instead.
Inside the drivers it should not use usleep() but [time_nanosleep](http://php.net/manual/en/function.time-nanosleep.php), which is interruptable.

[code]

[2018-11-30 17:18] GDmac commented on #134
When setting up a consumer for a queue (from examples), a producer is instantiated
and with the FailureSubscriber added to the dispatcher.
Instead, since we're setting up a specific consumer anyway, one could add a custom listener that acknowledges the queue on the message and retries the rejected message a couple of times before failing.
[code]

[2019-01-21 12:50] skbaji6 opened #395 "ction to capped"

[2019-01-21 12:50] #395 closed

[2019-01-25 13:36] sagikazarmark commented on #392
@helhum sorry for the late reply

The first and foremost task is finishing #256

We already started moving all drivers with external dependencies to https://github.com/bernardphp/drivers

If you want to help out there, feel free to pick one from the list (just let us know that you work on one).

Yeah, the conceptual part is mainly #377, but we should probably go through the issue tracker to see if

[2019-02-17 21:21] robskrob opened #396 "Does `Bernard\Router\ReceiverMapRouter` exist?"
Does [the documentation](https://bernard.readthedocs.io/consuming.html) need to be updated? I do not see `Bernard\Router\ReceiverMapRouter` anywhere in your current code base?

[2019-02-17 22:54] robskrob opened #397 "How to dequeue messages once they are added to a queue?"
I'm trying to have my consumer process -- `php worker.php consume` -- just dequeue a message when a producer enqueues a message on the queue: `php worker.php produce`.

I cannot seem to see any activity where [I expect](https://github.com/robskrob/bernard-example/blob/master/worker.php#L19) it to, and I am guessing it has something to do with registering the right dispatcher event. For this very s

[2019-02-18 07:42] henrikbjorn commented on #397
You are mapping a named message called `product` with lower case, but you are creating a `Product` message.

[2019-02-18 15:08] robskrob commented on #397
@henrikbjorn thank you very much for pointing that out. Indeed, the named message mapping and and the name of the message were not the same. On top of that I was creating a queue `$queues->create('product-service')` -- when it needed to be `$queues->create('product')`

[2019-02-18 15:10] robskrob commented on #397
I'll close the issue because now my consumer process is picking jobs off the redis queue when the producer enqueues a message.

[2019-02-18 15:10] #397 closed

[2019-02-18 17:08] henrikbjorn commented on #397
Personally I like the https://github.com/bernardphp/bernard/blob/master/src/Router/ClassNameRouter.php

[2019-02-19 15:54] robskrob opened #399 "Are there wordpress examples?"
Are there any examples or guidelines for installing bernard on wordpress?

I've been able to set up the consumer, waiting to dequeue messages from Redis. However, enqueueing a job onto Redis with a bernard Producer has been challenging.

[2019-02-19 18:49] henrikbjorn commented on #399
Sorry, there are no examples. But creating a Producer and sharing that between Wordpress services shouldn't be that hard.

[2019-02-19 19:13] robskrob commented on #399
@henrikbjorn thank you for letting me know. I was able to get bernard setup on wordpress. Maybe when I finalize things on my side, I can share an example, setting up bernard on wordpress -- if that would be helpful.

[2019-02-19 19:13] #399 closed

[2019-02-20 00:07] robskrob opened #400 "How many messages can Bernard take off queue at once?"
With sidekiq I know that the number of threads (https://github.com/mperham/sidekiq/wiki/Advanced-Options#concurrency) available to the sidekiq process determines how many concurrent workers I can have at any given moment. In other words if I specify 5 concurrent threads to my sidekiq process I know that at any given moment a sidekiq process can take 5 messages off of the redis queue to work on.

D

[2019-02-20 07:53] sagikazarmark commented on #400
PHP is (usually) single threaded, and even though there are certain concurrency solutions for it, a single worker will always work on a single message in case of Bernard. So essentially, the number of running workers determine the number of messages being worked on. There is no other limitation in Bernard.

Obviously, the real bottleneck is the message broker you use, but it would require a lot of

[2019-02-20 17:20] sagikazarmark commented on #400
Yup, but it's probably better to call consumers what you call "bernard processes".

[2019-02-20 19:38] robskrob commented on #400
@sagikazarmark thank you for sharing all this  information. I can close the issue.

[2019-02-20 19:38] #400 closed

[2019-03-04 22:58] robskrob opened #401 "Messages Not Mapping To Receiver with `ClassNameRouter`"
I'm using bernard version `0.13.0`.

Whenever a publish [this message](https://github.com/robskrob/bernard-example/blob/feature/wordpress-sample/background-logic/consumer.php#L39) to the queue for consumption, I am seeing this error:

[code]

What's wrong with [how I'm mapping messages](https://github.com/robskrob/bernard-example/blob/feature/wordpress-sample/background-logic/message-consumer.php#

[2019-03-04 23:26] robskrob commented on #401
OK I figured it out. [Where I was using](https://github.com/robskrob/bernard-example/blob/feature/wordpress-sample/background-logic/message-consumer.php#L21) `ClassNameRouter` I used `SimpleRouter` instead.

As a side, I am a little confused as to what an `Envelope` is. It looks like `ClassNameRouter` [has a dependency](https://github.com/bernardphp/bernard/blob/master/src/Router/ClassNameRouter.p

[2019-03-04 23:52] robskrob opened #402 "Cannot instantiate interface Bernard\Serializer"
I'm using `bernard`, `0.13.0`.

Whenever I execute [my function](https://github.com/robskrob/bernard-example/blob/feature/wordpress-sample/background-logic/consumer.php#L23) to get the queue factory, the following error is raised:
[code]

Why can I not instantiate `Bernard\Serializer` [here](https://github.com/robskrob/bernard-example/blob/feature/wordpress-sample/background-logic/message-queue.ph

[2019-03-05 07:45] henrikbjorn commented on #402
You are using the example from master and not the example from 0.13 (or we haven't updated the example).

In 0.13 you can use one of the implementations `https://github.com/bernardphp/bernard/blob/0.13.0/src/Bernard/Serializer/SimpleSerializer.php`

[2019-03-05 07:46] henrikbjorn commented on #401
Envelope is a wrapper around your custom Message classes. An Envelope contains metadata about the message and is an internal thing.

[2019-03-05 22:07] robskrob commented on #402
@henrikbjorn thank you for sharing `SimpleSerializer`. Also, per version I will check [this example](https://github.com/bernardphp/bernard/blob/0.13.0/example/bootstrap.php).

[2019-03-05 22:07] #402 closed

[2019-03-05 22:07] robskrob commented on #401
@henrikbjorn thank you for your reply and good to hear it's mainly an internal interface -- not to be used by users of your library.

[2019-03-05 22:07] #401 closed

[2019-08-08 06:34] burzum commented on #392
@sagikazarmark is there any reason so many PRs from 2018 are left open? What exactly is required to move the drivers? Looks like it's just moving the namespace and put them in another repository?

Something else I've noticed while evaluating the lib is the dependency on the Symfony event component, can't this be replaced with something more simple so the dependency can be removed?

[2019-08-08 12:35] sagikazarmark commented on #392
@burzum in short: time.

Basically it's just moving some files and writing better tests for them, yeah.

I think we should also consider dropping support for PHP 5.x and use PHP 7.2 at least (the thumb rule is to support the last two PHP versions).

I'm happy to review PRs, but the best way to ensure they are review is to keep pinging me if I don't respond in a timely manner. :)

[2019-09-22 14:08] holtkamp opened #404 "Incompatible with Symfony 4.3"
As of Symfony 4.3, the signature of the EventDispatcher has changed: https://symfony.com/blog/new-in-symfony-4-3-simpler-event-dispatching

This causes an error of type `E_USER_DEPRECATED` to be triggered: bundle:
[code]
also see:

https://github.com/symfony/event-dispatcher/blob/v4.3.3/EventDispatcher.php#L58

Maybe we can prevent this error by restricting the version of the used Symfony Event-Di

[2019-09-22 16:17] sagikazarmark commented on #404
Well, this is just a deprecation warning, so I don't there is anything we have to do. If you are concerned about this error, just don't install 4.3. :)

[2019-09-22 16:53] acrobat commented on #404
Like @sagikazarmark already said this is indeed a warning and shouldn't be a problem until symfony 5.0. But we can already fix our code to not trigger this deprecation on version of symfony that support the new way of dispatching events.

If you want @holtkamp you can open a PR to provide a backwards compatible fix for this deprecation, otherwise this will be fixed in the future when I have some t

[2019-09-23 10:53] holtkamp commented on #404
AFAIK the Symfony version is stored in [`Symfony\Component\HttpKernel\Kernel::VERSION_ID`](https://github.com/symfony/http-kernel/blob/v4.3.3/Kernel.php#L77) which is not used in Bernard, so we can not compare versions easily.

However, as of `4.3` [`Symfony\Component\EventDispatcher\EventDispatcherInterface`](https://github.com/symfony/event-dispatcher/blob/v4.3.0/EventDispatcherInterface.php#L23

[2019-09-25 08:32] chuxiangqaz opened #405 "PhpAmqpDriver Not Find?"
here is the driver that I've built to use Bernard with RabbitMQ/PhpAmqp.
Error : `\Bernard\Driver\PhpAmqpDriver not find`

 This is my composer.json
[code]

[2019-09-29 06:24] #405 closed

[2019-10-21 09:46] holtkamp commented on #404
Fixed in https://github.com/bernardphp/bernard/pull/406

[2019-10-21 09:46] #404 closed

[2019-12-10 12:45] ninze opened #407 "Serializer and general bernard questions"
Hi,

I am new to this project and I am trying to figure out how message serialization works. I know the default place for questions is usually stack overflow, but currently it doesn't have a bernard tag and I had a feeling that I would need to wait a few months to get an answer there :)

Bernard installed from composer (currently v0.13) comes with `Bernard\Serializer\SimpleSerializer` class and su

[2020-01-09 13:11] phpbg commented on #396
I guess it would even be better to tag a new release.

See #392

@sagikazarmark any update on making an updated release?

[2020-10-07 16:36] magikid opened #408 "Is this project still active?"
I see that the last commit was about a year ago and the last release is nearing two years ago.  Is it still being actively developed?  Are you still accepting PRs to it?

[2020-10-08 00:51] sagikazarmark commented on #408
@magikid it's not really active these days. It's been a great project, but sadly never reached a proper stable version.

I'm not sure if the current maintainers have enough time to properly review PRs.

There are other projects with similar goals that seem to be more actively maintained: https://github.com/php-enqueue

That said, if someone would like to step up as a maintainer, noone would say no

[2020-12-17 09:30] rutek commented on #392
No commits since 14 months and there is still no stable 1.x version. Should we consider this library as abandoned?

[2020-12-20 12:28] sagikazarmark commented on #392
I don't think there are active maintainers at the moment. I've been thinking about upgrading it to PHP 8, but haven't had the time yet.

[2020-12-30 18:38] sagikazarmark commented on #392
Please see (and respond to) https://github.com/bernardphp/bernard/discussions/413

[2020-12-30 18:39] sagikazarmark commented on #396
Please see https://github.com/bernardphp/bernard/discussions/413

[2021-07-23 09:59] edubacco opened #414 "Bug when using `countMessages` with DoctrineDriver and Postgresql"
Because `visible` column is a bool, not an int.

[2021-07-23 10:06] edubacco commented on #414
Added PR #415 to fix the problem

[2022-03-13 05:08] marufmax commented on #407
yea, having the same problem. The docs need to be updated

[2022-05-03 20:08] sagikazarmark commented on #392
Please see https://github.com/bernardphp/bernard/discussions/417

[2022-05-03 20:09] sagikazarmark commented on #364
Not relevant anymore: switched to GitHub Actions.

[2022-05-03 20:09] #364 closed

[2022-05-03 20:09] sagikazarmark commented on #376
Moving it to the drivers package then.

[2022-05-03 20:09] #376 closed

[2022-05-04 07:48] sagikazarmark commented on #357
This shouldn't block the release.

[2022-05-04 07:48] #357 closed

[2022-05-04 07:52] sagikazarmark opened #422 "Replace mixed with string|int|null in DriverMessage receipt"
Currently the receipt can be anything thanks to the mixed type hint. I wonder if that makes sense as mixed includes types, like resource, boolean and array.

Are those types potential receipts?

Object is something I could imagine as a receipt.

[2022-05-11 23:10] pluc commented on #396
What is happening with this

[2022-05-11 23:20] bumbummen99 commented on #396
https://github.com/bernardphp/bernard/discussions/417

[2022-07-22 12:13] pszalko opened #425 "PHP 8.1 support"
I use bernard with PHP 8.1, and it works, however there are some deprecation issues:

[code]

[code]

[2022-08-16 20:28] pluc commented on #425
I see the `#[ReturnTypeWillChange]` attribute on `Bernard\QueueFactory\PersistentFactory::count` and it seems to predate your issue? Are you using `dev-master`?

 https://github.com/bernardphp/bernard/blob/master/src/QueueFactory/PersistentFactory.php#L64

[2022-08-20 06:50] pszalko commented on #425
No, I was using official release as advised "to not depend on master at all".

[code]

Are there any breaking changes when switching to `master` branch from 0.13?

// edit:

I checked `master` branch and see that there are indeed breaking changes:
- SQS and PHP Redis drivers are missing
- FlatFileDriver relocated

So maybe it's worth considering to backport PHP 8.1 changes to last stable release?

[2022-09-19 17:51] victor-pilotto opened #427 "PhpAmqpDriver not find in 0.13.0"
Hi,

I'm trying update the bernard from dev-master to 0.13, but PhpAmqpDriver is not find.

Dont have support any more ?

Thanks.

[2022-09-27 07:03] Baachi commented on #427
The bernard package has been splitted into multiple packages. For the amqp package you need to install the amqp package.

https://github.com/bernardphp/amqp-driver

[2022-09-27 11:10] victor-pilotto commented on #427
Thanks Baachi, i'm didn't see this package

[2022-09-27 11:10] #427 closed, assigned to nobody